.container {
  overflow: hidden;
}

.section {
  padding: 0 10px;

  a {
    text-decoration: none;
    color: @link-color;

    &:hover {
      color: @link-hover-color;
      text-decoration: underline;
    }

    &.btn, &.btn:hover {
      color: #fff;
      text-decoration: none;
    }
  }


  .section-copy {
    position: relative;
    font-family: @tablet-gothic-wide;
    font-weight: 300;
    padding: 10px 0 0;
    font-size: .9375rem;
    line-height: (20/15);
    text-align: left;

    @media (min-width: 760px) {
      font-size: 1.125rem;
      line-height: 1.25;
    }

    @media (min-width: 960px) {
      font-size: 1.375rem;
      line-height: (30/22);
    }

    p {
      padding: 0 10px;
      margin: 0;

     @media (min-width: 760px) {
      padding: 0;
     }

     strong {
       font-weight: 600;
     }
    }
  }
}

.section-screenshot {
  .section-copy {
    .illustration {
      box-shadow: 0 4px 8px rgba(0,0,0,.2);
      display: block;
      margin: 20px auto 0;
      text-indent: 100%;
      font: 0/0 a;
      position: relative;

      @media (min-width: 760px) {
        position: absolute;
        left: 0;
        top: 5px;
        margin: 0;
      }
    }
  }
}

.container-sample-insight {
  height: auto;

  .section-copy {
    p {
      font-size: 1rem;
      @media (min-width: 760px) {
        font-size: 1.125rem;
        text-align: center;
        width: 75%;
        margin: 0 auto;
      }
    }
  }
}

.section-sample-insight {
  padding: 30px 0;

  .section-copy {
    text-align: center;
  }

  figcaption {
    color: darken(@color-mint, 30%);
    font-size: 1.125rem;
    line-height: 1.25;
    margin-bottom: 10px;

    @media (min-width: 760px) {
      font-size: 1.2rem;
    }
  }

  .sample-insight-img {
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    display: block;
    margin: 0 auto 10px;
    text-indent: 100%;
    font: 0/0 a;
    width: 310px;
  }

  p.and-more {
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px 0 0;

    @media (min-width: 760px) {
      font-size: 1.25em;
    }
  }
}

.section-colors(@bgd, @copy: darken(@bgd, 35%), @headline: #fff) {
  background-color: @bgd;

  .section-header {
    color: @headline;
  }

  .section-copy {
    color: @copy;
  }

  .section-sample-insight figcaption {
    color: @copy;
  }
}

.section-header {
  font-size: 1.375rem; // 22px
  line-height: (30/22);
  color: #fff;
  text-align: center;
  font-weight: 400;
  padding: 20px 0;
  margin: 0;

  @media (min-width: @bp-tablet) {
    font-size: 2rem;
    line-height: 1.25;
    padding: 36px 0;
  }
}

#container-media-blurbs {

  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;

  table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 760px) {
      width: 100%;
    }

    td {
      padding: 20px;
      text-align: center;
      font-size: 1.125rem;
    }
    td.blurb {
      font-weight: 200;
    }
    a {
      img {
        width: 200px;
      }
    }
  }


}

.signup-buttons {
  @media (max-width: 760px) {
    text-align: center;
  }

  .btn {
    display: inline-block;
    margin: 0 0 35px;
    padding: 1px 20px;
    width: 140px;

    &:first-child {
      margin-right: 15px;
    }

    small {
      font-size: .875rem;
      color: mix(#fff, @blue-darker, 80%);
    }

    @media (min-width: 760px) {
      margin: 0 20px 0 0;
      padding: 1px 30px;
      width: 180px;
    }
  }
}

.promo-bar {
  background: @blue-darker;
  z-index: 100000;
  position: relative;
  color: rgba(255,255,255,.9);
  text-align: left;
  line-height: 1.5em;
  padding: 8px 1em 8px 2.75em;

  a {
    display:block;
    text-decoration:none;
    color: #fff;
    @media (min-width: 400px) {
      padding: 5px;
      text-align: center;
    }
  }

  img {
    height: 1.8em;
    position: absolute;
    top: 50%;
    margin-top: -1em;
    left: .6em;

    @media (min-width: 400px) {
      height: 1.5em;
      position: static;
      vertical-align: sub;
      padding-right: .25em;
    }
  }
}

#container-signup-top {
  .section-colors(#fff, #444, #222);
  height: auto;

  @media (min-width: 760px) {
    height: 400px;
  }

  .section-header {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25;
    padding-top: 0;

    @media (min-width: 760px) {
      font-size: 2.75rem;
      padding: 25px 0;
    }
  }

  .section-copy {
    font-style: normal;
    padding-top: 5px;

    @media (min-width: 760px) {
      padding-top: 10px;
    }

    p {
      text-align: center;
      padding: 0;
      margin-bottom: 25px;

      @media (min-width: 760px) {
        padding: 0 190px;
        text-align: center;
      }
    }
  }

  .signup-buttons {
    @media (min-width: 760px) {
      text-align: center;
      margin-bottom: 25px;
    }
  }

  .section-note {
    font-size: .75rem;
    color: @gray;

    @media (min-width: 760px) {
      font-size: .875rem;
    }
  }
}

#container-what {
  .section-colors(@color-mint, #fff);
  .container-sample-insight;
  padding-bottom: 30px;
}


#container-media-blurbs {
  .section-colors(#f0f0f0, #222);
}


.insight-img(@m_height, @d_height, @file_prefix) {
  height: @m_height;
  background: url("../img/landing/@{file_prefix}-mobile@2x.png") top left no-repeat;
  background-size: 310px @m_height;

  @media (min-width: 760px) {
    width: 540px;
    height: @d_height;
    background: url("../img/landing/@{file_prefix}-desktop@2x.png") top left no-repeat;
    background-size: 540px @d_height;
  }
}

#container-sample-insight-profile {
  .section-colors(@color-sandalwood, @color-sandalwood-darker);
  .sample-insight-img {
    .insight-img(334px, 297px, "insight-profile-update");
  }
}

#container-sample-insight-eoy-total {
  .section-colors(@color-creamsicle, @color-creamsicle-darker);
  .sample-insight-img {
    .insight-img(309px, 281px, "insight-eoy-total");
  }
}

#container-sample-insight-personal {
  .section-colors(@color-seabreeze, @color-seabreeze-darker);
  .sample-insight-img {
    .insight-img(190px, 146px, "insight-personal");
  }
}

#container-sample-insight-link {
  .section-colors(@color-dijon, @color-dijon-darker);
  .sample-insight-img {
    .insight-img(274px, 230px, "insight-link-diversity");
  }
}

#container-sample-insight-gratitude {
  .section-colors(@color-pea, @color-pea-darker);
  .sample-insight-img {
    .insight-img(137px, 92px, "insight-gratitude");
  }
}

#container-sample-insight-history {
  .section-colors(@color-sepia, @color-sepia-darker);
  .sample-insight-img {
    .insight-img(305px, 225px, "insight-history");
  }
}

#container-sample-insight-lol {
  .section-colors(@color-creamsicle, @color-creamsicle-darker);
  .sample-insight-img {
    .insight-img(370px, 326px, "insight-lol");
  }
}

#container-sample-insight-verified {
  .section-colors(@color-sandalwood, @color-sandalwood-darker);
  .sample-insight-img {
    .insight-img(277px, 197px, "insight-verified");
  }
}
#container-sample-insight-fans {
  .section-colors(@color-mint, @color-mint-darker);
  .sample-insight-img {
    .insight-img(316px, 256px, "insight-fans");
  }
}

#container-specs {
  .section-colors(@color-purple, @color-purple-darker);

  .section-copy {
    font-style: normal;
    font-size: 1rem;
    line-height: (22/16);
    text-align: left;

    @media (min-width: 760px) {
      font-size: 1.25rem;
      line-height: (26/20);
      padding-left: 51%;
    }
  }

  .illustration {
    box-shadow: 0 0 0;
    width: 340px;
    height: 122px;
    background: url(../img/landing/devices.png) top left no-repeat;
    background-size: 340px 122px;
    position: relative;
    left: -50px;

    @media (min-width: 400px) {
      left: 0;
    }

    @media (min-width: 760px) {
      position: absolute;
      width: 540px;
      height: 200px;
      background-size: 540px 200px;
      left: auto;
      right: 49%;
    }

    @media (min-width: 760px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url(../img/landing/devices@2x.png) top left no-repeat;
      background-size: 340px 122px;
    }
  }
}

#container-company {
  .section-colors(@color-salmon, #fff);
  height: auto;

  @media (min-width: 760px) {
    height: 500px;
  }

  .section-header {
    position: relative;
    text-align: left;
    padding-left: 90px;

    &:before {
      content: "";
      position: absolute;
      width: 66px;
      height: 64px;
      background: url(../img/landing/crowd.png) top left no-repeat;
      background-size: 66px 64px;
      top: 14px;
      left: 10px;
    }

    @media (min-width: 560px) {
      padding-left: 100px;
      &:before {
        width: (160px / 2.1);
        height: (154px / 2.1);
        background-size: (160px / 2.1) (154px / 2.1);
        top: 38px;
      }
    }

    @media (min-width: 760px) {
      text-align: center;
      padding-left: 0;

      br {
        display: none;
      }

      &:before {
        width: (160px / 1.5);
        height: (154px / 1.5);
        background-size: (160px / 1.5) (154px / 1.5);
        top: 115px;
        left: auto;
        right: 560px;
      }
    }

    @media (min-width: 960px) {
      &:before {
        top: 100px;
        width: 160px;
        height: 154px;
        background-size: 160px 154px;
      }
    }

  }

  .section-copy {
    font-size: 1rem;
    line-height: (22/16);

    a {
      color: @color-salmon-darker;

      &:hover {
        color: @color-salmon-dark;
      }
    }

    @media (min-width: 760px) {
      padding: 115px 560px 0 0;
      max-width: none;
      text-align: right;
    }

    @media (min-width: 960px) {
      font-size: 1.25rem;
      line-height: (26/20);
      padding-top: 150px;
    }

    p {
      padding: 0 10px;
      margin: 0;

     @media (min-width: 760px) {
      padding: 0;
     }
    }
  }

  .illustration {
    width: 310px;
    height: 340px;
    background: url(../img/landing/insight-last-week-mobile@2x.png) top left no-repeat;
    background-size: 310px 340px;
    margin-bottom: 20px;

    @media (min-width: 760px) {
      top: 0;
      left: auto;
      right: 0;
      width: 540px;
      height: 307px;
      background: url(../img/landing/insight-last-week-desktop@2x.png) top left no-repeat;
      background-size: 540px 307px;
    }
  }
}

#container-not-thinkup {
  .section-colors(@color-seabreeze);
  height: auto;

  @media (min-width: 760px) {
    height: 400px;
  }

  .section-header {
    padding-bottom: 0;
    @media (min-width: 760px) {
      padding-bottom: 36px;
    }
  }

  .section-copy {
    li {
      margin-bottom: .25rem;
    }
    @media (min-width: 760px) {
      font-size: 1.25rem;
      line-height: (26/20);
      padding: 0 0 0 560px;
      max-width: none;
    }

    .illustration {
      width: 310px;
      height: 193px;
      background: url(../img/landing/insight-quotations-mobile@2x.png) top left no-repeat;
      background-size: 310px 193px;
      margin-bottom: 20px;

      @media (min-width: 760px) {
        width: 540px;
        height: 128px;
        background: url(../img/landing/insight-quotations-desktop@2x.png) top left no-repeat;
        background-size: 540px 128px;
        margin-bottom: 0;
      }
    }
  }
}

#container-signup-bottom {
  .section-colors(#fff, @blue-darker, @blue-darker);
  height: 200px;

  @media (min-width: 840px) {
    .clearfix;
    height: 100px;
    text-align: right;
  }

  .section-header {
    font-size: 1.5rem;
    line-height: 1.33;

    em {
      font-weight: 600;
    }

    @media (min-width: 640px) {
      font-size: 1.75rem;
      line-height: 1.214;
    }

    @media (min-width: 840px) {
      float: left;
      text-align: left;
      max-width: 700px;
      margin-right: 20px;
      padding: 30px 0;
    }
  }

  .section-copy {
    text-align: center;

    @media (min-width: 840px) {
      float: right;
      width: 300px;
      padding-top: 20px;

      .btn {
        width: 140px;
        padding: 1px 20px;
        margin: 0;

        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }
}