body.marketing-page {
  .container {
    margin: 0 auto;
    height: auto;

    @media (min-width: 48em) {
      border: 0;
    }
  }

  .section {
    p, li {
      font-family: @tablet-gothic;
      font-size: (14/16em);
      line-height: (18/14);
    }
  }

  .section-header {
    color: #222;
    font-weight: 600;
    padding: 10px 0 0;
  }

  .section-subheader {
    color: @gray-light;
    font-weight: normal;
    margin: .25em 0 0;
  }

  .section-marketing-text, .section-legal-text {
    height: auto;
    padding: 15px;
    margin-bottom: 60px;
    border-top: 0;
    color: #444;

    .text-header {
      text-align: center;
      font-size: (20/16em);
      line-height: 1;
      font-weight: 400;
    }

    p, li {
      font-family: @tablet-gothic-wide;
      font-size: 1em;
      line-height: (23/18);
      font-weight: 300;
      margin-bottom: 1em;

      a {
        color: @link-color;

        &[class^=btn] {
          color: #fff;
          text-decoration: none;
        }
      }
    }

    .center {
      text-align: center;
    }

    .list-values {
      counter-reset: values;
      list-style: none;
      padding-left: 30px;

      li {
        font-size: (18/16em);
        position: relative;

        &:before {
          position: absolute;
          left: -30px;
          width: 30px;
          padding-right: 15px;
          counter-increment: values;
          content: counter(values) ".";
          font-weight: 400;
          color: @link-color;
        }
      }
    }

    @media (min-width: 31.875em) {
      height: auto;
      padding: 15px 60px;

      .text-header, h3 {
        font-size: (22/16em);
        line-height: 1;
      }

      p, li, blockquote {
        font-size: (18/16em);
        line-height: (26/18);
      }

      .list-values {
        padding-left: 40px;

        li {
          font-size: (20/16em);
          line-height: (24/16);

          &:before {
            left: -40px;
            width: 40px;
          }
        }
      }
    }

    @media (min-width: 48em) {
      height: auto;
      padding: 15px 140px;

      .text-header, h3 {
        font-size: (22/16em);
        line-height: 1;
      }

      .list-values {
        padding-left: 0;

        li {
          &:before {
            text-align: right;
          }
        }
      }

    }
  }

  .section-legal-text {
    // Section head
    h3 {
     text-align: left;
     font-size: (20/16em);
     line-height: (22/20);
     font-weight: 400;
    }

    // Subsection head
    h4 {
      font-size: (18/16em);
      font-weight: 400;
    }

    h4 a,
    h4 a:visited {
      text-decoration: none;
      color: black;
    }

    p, li {
      font-size: 1em;
      line-height: 1.5;
    }

    .mod-date {
      font-size: (14/16em);
      line-height: (24/14);
      color: #999;
      margin-bottom: .5em;
    }

    // An annotation, describing a section in plain English
    blockquote {
      font-size: (18/16em);
      background: #f3f3f3;
      border-left: 2px solid #46BCFF;
      margin: 0;
      padding: .25em .25em .5em .75em;
      position: relative;
      .fa-override-before;

      &:before {
        float: right;
        content: "\f05a";
        font-size: (14/16em);
        color: fade(@link-color, 50%);
        line-height: 1;
        padding: 0 0 .5em .5em;
      }

      p {
        margin: 0;
      }
    }

    @media (min-width: 31.875em) {
      .text-header, h3 {
        font-size: (22/16em);
        line-height: (24/22);
      }

      h4 {
        font-size: (20/16em);
        line-height: (22/20);
      }
    }
  }

  .section-nav {
    list-style: none;
    padding: 0;
    margin: .5em 0;
    display: inline-block;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      padding: 0 5px;
      font-size: .875rem;
      line-height: (18/14);
    }

    a {
      color: @link-color;
      font-weight: 400;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        color: #aaa;

        &:hover {
          text-decoration: none;
          cursor: default;
        }
      }
    }
  }

  .form {
    margin-bottom: 30px;
  }

  #section-header {
    background: none;
    border: none;
    height: auto;
    margin-bottom: 15px;

    .logo {
      position: relative;
      margin: 0 0 5px 0;
      top: 0;
      left: 0;
    }

    &:before {
      display: none;
    }

    .navigation-main {
      .nav-link {
        color: @link-color;
        text-decoration: none;
        display: inline-block;
        margin: 0 5px;

        &:hover {
          text-decoration: underline;
        }
      }

      @media (min-width: 31.875em) {
        position: absolute;
        top: 20px;
        right: 15px;
      }
    }
  }

  #section-page-header {
    border: 0;

    padding: 24px 15px 0;
    text-align: left;

    @media (min-width: 31.875em) {
      text-align: center;
      padding: 24px 30px;
    }
  }
}

#section-about-text {
  .headshots {
    text-align: center;

    .headshot {
      display: inline-block;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin-left: 5px;

      &:first-child {
        margin: 0;
      }
    }
  }

  .investor-logos {
    text-align: center;

    .investor-logos-row {
      margin-bottom: 10px;
    }

    .investor-logo {
      height: 35px;
      width: auto;
      padding-left: 10px;
    }
  }

  .download-our-logo {
    float: right;
    margin: 20px 0 10px 20px;
    font-size: (14/16em);

    a {
      color: @link-color;
    }

    img {
      width: 148px;
      height: 40px;
    }
  }

  @media (min-width: 31.875em) {
    .headshots {
      float: right;
      margin-left: 10px;

      .headshot {
        width: 100px;
        height: 100px;
      }
    }

    .investor-logos {
      margin: 20px -20px;

      .investor-logo {
        height: 40px;
        padding-left: 20px;

      }
    }
  }

  @media (min-width: 48em) {
    .investor-logos {
      .investor-logos-row {
        display: inline;
      }

      .investor-logo {
        &.is-first {
          padding: 0;
        }
      }
    }
  }
}

#section-pay-now {
  padding: 15px;

  .section-header {
    text-align: left;
    width: 100%;

    @media (min-width: 31.875em) {
      width: 66%;
    }
  }

  .book-cover {
    margin: 20px 0 60px 20px;
    float: right;
    min-width: 100px;
    max-width: 200px;
    width: 33%;

    @media (min-width: 31.875em) {
      margin-left: 100px;
      margin-top: -30px;
      @y:   #f5ee30;
      @yd:  darken(@y, 10%);
      @ydr: darken(@y, 15%);
      @yp:  mix(@y, #fff, 20%);
      @g:   mix(@y, #000, 90%);
      border: 1px solid @yd;
      box-shadow: 4px 4px 0 @yp, 5px 5px 0 @g, 8px 8px @yp, 9px 9px @g, 12px 12px @yp, 13px 13px @ydr;
    }
  }

  .btn-wrapper {
    clear: both;
    text-align: center;

    @media (min-width: 31.875em) {
      clear: none;
      text-align: left;
    }
  }


}

// For colored headers
@colors: #FF7F00, #008BD6, #6bb93b, #7E57D1, #6BB93B, #FF39EA, #B51B2E, #5B76C1, #D58E19, #B97CC6, #5fac1c;

.hc {
  color: extract(@colors, 1);
}

.hc ~ .hc {
  color: extract(@colors, 2);
}

.hc ~ .hc ~.hc {
  color: extract(@colors, 3);
}

.hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 4);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 5);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 6);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 7);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 8);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 9);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 10);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 11);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 1);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~
.hc {
  color: extract(@colors, 2);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~
.hc ~ .hc {
  color: extract(@colors, 3);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~
.hc ~ .hc ~.hc {
  color: extract(@colors, 4);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~
.hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 5);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~
.hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 6);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~
.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 7);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~
.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 8);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~
.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 9);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~
.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 10);
}

.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~
.hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc ~ .hc {
  color: extract(@colors, 11);
}