/* glue: 0.3 hash: ad1cdd8409 */
.sprite-supported-devices,
.sprite-lightbulb,
.sprite-arrow-right,
.sprite-arrow-left,
.sprite-shopping-bag,
.sprite-book,
.sprite-graduation,
.sprite-explosion,
.sprite-map-pin,
.sprite-friends,
.sprite-friends-orange,
.sprite-binoculars,
.sprite-photo-gallery,
.sprite-calendar,
.sprite-cards,
.sprite-megaphone,
.sprite-elephant,
.sprite-forbidden,
.sprite-number-one,
.sprite-meter,
.sprite-factory,
.sprite-smiley-face,
.sprite-quotes,
.sprite-lightning,
.sprite-heart,
.sprite-question-mark,
.sprite-speech-bubble,
.sprite-arrow-up,
.sprite-arrow-down{background-image:url('../img/icons.png');background-repeat:no-repeat}
.sprite-supported-devices{background-position:-1px -1px;width:60px; @width:60px;height:71px;}
.sprite-lightbulb{background-position:-63px -1px;width:30px; @width:30px;height:65px;}
.sprite-arrow-right{background-position:-95px -1px;width:23px; @width:23px;height:55px;}
.sprite-arrow-left{background-position:-120px -1px;width:23px; @width:23px;height:55px;}
.sprite-shopping-bag{background-position:-1px -74px;width:30px; @width:30px;height:45px;}
.sprite-book{background-position:-33px -74px;width:30px; @width:30px;height:45px;}
.sprite-graduation{background-position:-64px -74px;width:39px; @width:39px;height:21px;}
.sprite-explosion{background-position:-145px -1px;width:38px; @width:38px;height:38px;}
.sprite-map-pin{background-position:-145px -41px;width:23px; @width:23px;height:36px;}
.sprite-friends{background-position:-145px -79px;width:36px; @width:36px;height:26px;}
.sprite-friends-orange{background-position:-1px -121px;width:36px; @width:36px;height:25px;}
.sprite-binoculars{background-position:-39px -121px;width:36px; @width:36px;height:24px;}
.sprite-photo-gallery{background-position:-1px -148px;width:35px; @width:35px;height:27px;}
.sprite-calendar{background-position:-185px -1px;width:30px; @width:30px;height:34px;}
.sprite-cards{background-position:-1px -177px;width:33px; @width:33px;height:30px;}
.sprite-megaphone{background-position:-38px -148px;width:33px; @width:33px;height:27px;}
.sprite-elephant{background-position:-36px -177px;width:32px; @width:32px;height:27px;}
.sprite-forbidden{background-position:-216px -1px;width:32px; @width:32px;height:32px;}
.sprite-number-one{background-position:-216px -35px;width:31px; @width:31px;height:31px;}
.sprite-meter{background-position:-216px -67px;width:31px; @width:31px;height:25px;}
.sprite-factory{background-position:-216px -94px;width:31px; @width:31px;height:28px;}
.sprite-smiley-face{background-position:-216px -124px;width:30px; @width:30px;height:30px;}
.sprite-quotes{background-position:-216px -156px;width:30px; @width:30px;height:22px;}
.sprite-lightning{background-position:-185px -37px;width:15px; @width:15px;height:29px;}
.sprite-heart{background-position:-216px -179px;width:28px; @width:28px;height:26px;}
.sprite-question-mark{background-position:-185px -68px;width:26px; @width:26px;height:26px;}
.sprite-speech-bubble{background-position:-185px -96px;width:25px; @width:25px;height:23px;}
.sprite-arrow-up{background-position:-201px -37px;width:13px; @width:13px;height:6px;}
.sprite-arrow-down{background-position:-201px -45px;width:13px; @width:13px;height:6px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {.sprite-supported-devices,
.sprite-lightbulb,
.sprite-arrow-right,
.sprite-arrow-left,
.sprite-shopping-bag,
.sprite-book,
.sprite-graduation,
.sprite-explosion,
.sprite-map-pin,
.sprite-friends,
.sprite-friends-orange,
.sprite-binoculars,
.sprite-photo-gallery,
.sprite-calendar,
.sprite-cards,
.sprite-megaphone,
.sprite-elephant,
.sprite-forbidden,
.sprite-number-one,
.sprite-meter,
.sprite-factory,
.sprite-smiley-face,
.sprite-quotes,
.sprite-lightning,
.sprite-heart,
.sprite-question-mark,
.sprite-speech-bubble,
.sprite-arrow-up,
.sprite-arrow-down{background-image:url('../img/icons@2x.png');-webkit-background-size: 248px 208px;-moz-background-size: 248px 208px;background-size: 248px 208px;}}
