/* glue: 0.3 hash: 010dfb6b05 */
.sprite-lightbulb,
.sprite-arrow-right,
.sprite-arrow-left,
.sprite-book,
.sprite-graduation,
.sprite-explosion,
.sprite-map-pin,
.sprite-friends,
.sprite-friends-orange,
.sprite-binoculars,
.sprite-photo-gallery,
.sprite-calendar,
.sprite-cards,
.sprite-megaphone,
.sprite-elephant,
.sprite-forbidden,
.sprite-number-one,
.sprite-meter,
.sprite-smiley-face,
.sprite-quotes,
.sprite-lightning,
.sprite-heart,
.sprite-question-mark,
.sprite-speech-bubble,
.sprite-arrow-up,
.sprite-arrow-down{background-image:url('../img/icons.png');background-repeat:no-repeat}
.sprite-lightbulb{background-position:-2px -2px;width:30px; @width:30px;height:65px;}
.sprite-arrow-right{background-position:-36px -2px;width:23px; @width:23px;height:55px;}
.sprite-arrow-left{background-position:-63px -2px;width:23px; @width:23px;height:55px;}
.sprite-book{background-position:-90px -2px;width:30px; @width:30px;height:45px;}
.sprite-graduation{background-position:-2px -71px;width:39px; @width:39px;height:21px;}
.sprite-explosion{background-position:-123px -2px;width:38px; @width:38px;height:38px;}
.sprite-map-pin{background-position:-123px -44px;width:23px; @width:23px;height:36px;}
.sprite-friends{background-position:-2px -96px;width:36px; @width:36px;height:26px;}
.sprite-friends-orange{background-position:-42px -96px;width:36px; @width:36px;height:25px;}
.sprite-binoculars{background-position:-81px -96px;width:36px; @width:36px;height:24px;}
.sprite-photo-gallery{background-position:-2px -125px;width:35px; @width:35px;height:27px;}
.sprite-calendar{background-position:-165px -2px;width:30px; @width:30px;height:34px;}
.sprite-cards{background-position:-2px -156px;width:33px; @width:33px;height:30px;}
.sprite-megaphone{background-position:-41px -125px;width:33px; @width:33px;height:27px;}
.sprite-elephant{background-position:-39px -156px;width:32px; @width:32px;height:27px;}
.sprite-forbidden{background-position:-199px -2px;width:32px; @width:32px;height:32px;}
.sprite-number-one{background-position:-199px -38px;width:31px; @width:31px;height:31px;}
.sprite-meter{background-position:-199px -72px;width:31px; @width:31px;height:25px;}
.sprite-smiley-face{background-position:-199px -101px;width:30px; @width:30px;height:30px;}
.sprite-quotes{background-position:-199px -135px;width:30px; @width:30px;height:22px;}
.sprite-lightning{background-position:-165px -40px;width:15px; @width:15px;height:29px;}
.sprite-heart{background-position:-165px -73px;width:28px; @width:28px;height:26px;}
.sprite-question-mark{background-position:-165px -103px;width:26px; @width:26px;height:26px;}
.sprite-speech-bubble{background-position:-199px -161px;width:25px; @width:25px;height:23px;}
.sprite-arrow-up{background-position:-165px -133px;width:12px; @width:12px;height:6px;}
.sprite-arrow-down{background-position:-181px -133px;width:12px; @width:12px;height:6px;}
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {.sprite-lightbulb,
.sprite-arrow-right,
.sprite-arrow-left,
.sprite-book,
.sprite-graduation,
.sprite-explosion,
.sprite-map-pin,
.sprite-friends,
.sprite-friends-orange,
.sprite-binoculars,
.sprite-photo-gallery,
.sprite-calendar,
.sprite-cards,
.sprite-megaphone,
.sprite-elephant,
.sprite-forbidden,
.sprite-number-one,
.sprite-meter,
.sprite-smiley-face,
.sprite-quotes,
.sprite-lightning,
.sprite-heart,
.sprite-question-mark,
.sprite-speech-bubble,
.sprite-arrow-up,
.sprite-arrow-down{background-image:url('../img/icons@2x.png');-webkit-background-size: 232px 188px;-moz-background-size: 232px 188px;background-size: 232px 188px;}}

// My fixes

.sprite-smiley-face{background-position:-198px -101px;width:31px; @width:31px;height:30px;}
.sprite-meter{background-position:-198px -72px;width:31px; @width:31px;height:25px;}