@import "vendor/bootstrap-less/mixins.less";

@tablet-gothic-condensed: "tablet-gothic-semi-condensed", helvetica, arial, sans-serif;
@tablet-gothic: "tablet-gothic", helvetica, arial, sans-serif;

@text-color: #000;
@border-color-vertical: #D4D4D4;

@container-max-width: 765px;
@container-min-width: 320px;

@section-height-fixed: 300px;
@text-size: 16px;


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.fa-override-before {
    &:before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
    }
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  color: @text-color;
  font-size: @text-size;
  line-height: (18/16);
  font-family: @tablet-gothic-condensed;
}

.container {
  max-width: @container-max-width;
  min-width: @container-min-width;
  width: 100%;
  margin: 40px auto 0;
}

.section {
  border-width: 1px;
  border-style: solid;
  border-right-color: @border-color-vertical;
  border-left: 0;
  border-bottom: 0;
  padding: 15px 15px 0;
  min-height: 240px;
  background-position: center 90px;
  background-repeat: no-repeat;

  .section-header {
    font-weight: 600;
    margin: 0;
  }

  p, li {
    font-family: @tablet-gothic;
    font-size: (14/16em);
    line-height: (18/14);
  }
}

.section-color(@color) {
  border-top-color: @color;

  .section-header {
    color: @color;
  }
}

#section-header, #section-signup-top {
  min-height: 0;
  height: 135px;
}

#section-header,
.section-signup,
#section-social,
#section-legal,
#section-copyright { .section-color(#46BCFF); }
#section-networks  { .section-color(#FF7F00); }
#section-stats     { .section-color(#008BD6); }
#section-devices   { .section-color(#7E57D1); }
#section-goals     { .section-color(#6BB93B); }
#section-matters   { .section-color(#FF39EA); }
#section-community { .section-color(#B51B2E); }
#section-companies { .section-color(#5B76C1); }
#section-meaning   { .section-color(#D58E19); }
#section-different { .section-color(#B97CC6); }
#section-doesnt    { .section-color(#D77F6A); }

#section-header {
  position: relative;

  .logo {
    position: absolute;
    top: 17px;
    left: 27px;
    margin: 0;
    width: 148px;
    height: 40px;
    text-indent: 100%;
    font-size: 0;
    background: url(../img/thinkup-logo.png) 0 0 no-repeat;

    &:before {
      content: "Beta";
      position: absolute;
      top: -17px;
      right: -130px;
      width: 67px;
      height: 34px;
      font-size: 0;
      text-indent: 100%;
      background: url(../img/beta-tag.png) 0 0 no-repeat;

      @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../img/beta-tag@2x.png);
        background-size: 67px 34px;
      }
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../img/thinkup-logo@2x.png);
      background-size: 148px 40px;
    }
  }

  .headline {
    margin: 0;
    position: absolute;
    left: 27px;
    top: 57px;
    font-size: 1.5em;
    line-height: (22/24);
    font-weight: 600;
  }

}

.section-signup {
  .section-header {
    color: #000;
  }
  .action-links {
    text-align: center;
  }

  .btn {
    text-decoration: none;
    display: inline-block;
    background: #4A90E2;
    height: 80px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: (15/16em);
    line-height: (16/15);
    letter-spacing: .02em;
    border-radius: 40px;
    padding: 24px 0;
    width: 80px;
    margin-bottom: 10px;
  }

  .btn-circle{
    .btn;
    margin-bottom: 0;
    border: 0;
    -webkit-appearance: initial;
    font-family: @tablet-gothic-condensed;
  }

  .login-link {
    font-size: (13/16em);
    line-height: (16/13);
    color: #4A4A4A;

    a {
      color: #4A90E2;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .newsletter-signup-form {
    .email {
      border: 1px solid #46BCFF;
      width: 75%;
      display: inline-block;
      font-family: @tablet-gothic-condensed;
      padding: 3px 5px;
      font-size: 1em;
      margin: 5px 3px 10px 0;
      height: 36px;
    }

    .btn-submit{
      display: inline-block;
      background: #4A90E2;
      color: #fff;
      font-family: @tablet-gothic-condensed;
      margin-bottom: 0;
      border: 0;
      position: relative;
      vertical-align: baseline;
      -webkit-appearance: initial;
      padding: 8px;
      line-height: 0;
      font-size: (20/16em);
    }
  }

}

#section-signup-top {
  .clearfix;
  height: auto;

  .section-header {
    color: #000;
    margin-top: 15px;
    display: inline-block;
  }

  .action-links {
    margin: 15px 0;
    text-align: left;

  }
}

#section-networks {
  background-image: url(../img/fan-cards.png);
}

#section-stats {
  background-image: url(../img/thinkup-stream.png);
  min-height: 480px;
  background-position-y: 100px;
  background-size: (.5*370px) (.5*1245px);
}

#section-devices {
  background-image: url(../img/devices.png);
}

#section-goals {
  background-image: url(../img/sample-insight.png);
  background-size: (.5*544px) (.5*332px);
  background-position: center 115px;
}

#section-matters {
  background-image: url(../img/friends-online.png);
  background-position-y: 70px;
}

#section-community {
  background-image: url(../img/crowd.png);
}

#section-companies {
  background-image: url(../img/files.png);
  background-position-y: 100px;
}

#section-meaning {
  background-image: url(../img/photos-illustration.png);
}

#section-different {
  min-height: 0;
  .section-header {
    margin-bottom: 15px;
  }

  .headshots {
    text-align: center;
    .headshot {
      display: inline-block;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin-left: 5px;

      &:first-child {
        margin: 0;
      }
    }
  }

  p {
    margin-bottom: 1.5em;
  }
}

#section-doesnt {
  .section-header {
    margin-bottom: 15px;
  }

  ul {
    padding: 0 0 0 20px;
    margin: 0;

    li {
      margin-bottom: (18/14em);
    }
  }

  height: auto;

}

#section-signup-bottom {
  min-height: 0;
  height: auto;
  .clearfix;

  .action-links {
    margin: 15px 0;
    text-align: left;
  }

  .newsletter-signup-form {
    .email {
      width: 85%;
    }
  }
}


#section-social {
  padding: 0;
  height: 200px;
  min-height: 0;
  .clearfix;

  .social-items {
    .clearfix;
    padding: 0;
    margin: 0;
    list-style: none;

    .social-item {
      float: left;
      width: 50%;
      height: 100px;
      border-right: 1px solid @border-color-vertical;
      text-align: center;
      padding-top: 15px;
      font-family: @tablet-gothic-condensed;
      font-weight: 600;

      header {
        line-height: (16/14);
        margin-bottom: 8px;

        a {
          position: relative;
          display: block;
          color: #4A90E2;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          &:before {
            position: absolute;
            bottom: -43px;
            left: 0;
            right: 0;
            font-size: 35px;
          }
        }
      }

      &.sm-no-border {
        border: 0;
      }

      &.sm-border-top {
        border-top: 1px solid #46BCFF;
      }

      &#social-item-blog {
        header a:before {
          color: #32506d;
        }
      }

      &#social-item-github {
        header a:before {
          color: #333;
        }
      }
    }
  }
}

#section-legal, #section-copyright {
  height: auto;
  min-height: 0;
  padding: 24px 30px;
  text-align: center;

  .section-header {
    color: #000;
    font-size: (13/16em);
    line-height: 1;
    font-weight: 300;

    a {
      color: #4A90E2;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 31.875em) {
  @section-height-fixed: 240px;

  .section {
    float: left;
    width: 50%;
    height: @section-height-fixed;

    &.row-2 {
      height: @section-height-fixed * 2;
    }

    &.col-md-2 {
      width: 100%;
    }
  }

  #section-header {
    background: url(../img/chart-landscape.png) right 47px no-repeat;
    background-size: (.6*590px) (.6*146px);

    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      content: " ";
      width: (.6*208px);
      height: (.6*247px);
      background: url(../img/hand-smartphone.png) 0 0 no-repeat;
      background-size: (.6*208px) (.6*247px);
    }

    .logo:before {
      right: -75px;
    }
  }

  .section-signup {
    .btn {
      width: 132px;
      font-size: (17/16em);
      line-height: (18/17);
      padding: 22px 0;
    }
  }

  #section-signup-top {
    .clearfix;
    height: 135px;

    .section-header {
      margin-top: 15px;
      float: left;
    }

    .action-links {
      margin: 15px 0;
      text-align: left;
      float: right;
      width: 50%;
    }
  }
  #section-different, #section-meaning {
    height: 310px;
  }

  #section-doesnt {
    .clearfix;

    ul {
      width: 45%;
      float: left;

      &:first-of-type {
        margin-right: 5%;
        width: 50%;
      }
    }
  }

}

@media (min-width: 34.375em) {
  #section-different, #section-meaning {
    height: 290px;
  }

  #section-signup-bottom {
    .clearfix;
    height: 135px;

    .section-header {
      float: left;
      width: 45%;
      margin-top: 27px;

      br {
        display: none;
      }
    }

    .action-links {
      float: right;
      width: 50%;
    }

    .newsletter-signup-form {
      .email {
        width: 85%;
      }
    }
  }

}

@media (min-width: 48em) {
  @section-width: 255px;
  @header-height: 228px;
  .container {
    max-width: 767px;
    border-left: 1px solid @border-color-vertical;
    border-right: 1px solid @border-color-vertical;
    .clearfix;
  }

  .section {
    @section-height-fixed: 300px;
    width: @section-width;
    background-position: center 110px;
    height: @section-height-fixed;

    &.row-2 {
      height: @section-height-fixed * 2;
    }

    &.col-lg-1 {
      width: @section-width;
    }

    &.col-lg-2 {
      width: @section-width * 2;
    }

    &.col-lg-3 {
      width: @section-width * 3;
    }

    &.col-lg-right {
      float: right;
      border-right: 0;
    }

    &.col-lg-left {
      float: left;
    }

    &.col-lg-none {
      float: none;
      margin: 0 @section-width;
    }

    &.col-lg-offset-down {
      margin-top: @header-height;
    }

    &.col-lg-offset-up {
      margin-top: -1 * @section-height-fixed;
    }
  }

  #section-header, #section-signup-top {
    height: @header-height;
  }

  #section-header {
    background-size: 590px 146px;
    background-position: -76px 81px;

    &:before {
      width: 208px;
      height: 247px;
      background-size: 208px 247px;
    }
  }

  #section-signup-top {
    text-align: center;

    .action-links, .section-header {
      float: none;
      width: auto;
      text-align: center;
    }

    .newsletter-signup-form {
      display: inline-block;
    }

    .section-header {
      margin: 0 0 15px;
    }
  }

  #section-community, #section-companies {
    background-position-y: 130px;
  }

  #section-stats {
    background-position: center 110px;
  }

  #section-devices {
    background-position: 35px 130px;
  }

  #section-goals {
    background-position: 46px 100px;
  }

  #section-matters {
    background-position-y: 90px;
  }

  #section-different, #section-meaning {
    height: @section-height-fixed;
  }

  #section-social {
    height: 100px;

    .social-items {
      .clearfix;
      .social-item {
        width: 25%;
        border-right: 1px solid @border-color-vertical;

        &.sm-no-border {
          border-right: 1px solid @border-color-vertical;
        }

        &.lg-no-border {
          border-right: 0;
        }

        &.sm-border-top {
          border-top: 0;
        }
      }
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  #section-networks {
    background-image: url(../img/fan-cards@2x.png);
    background-size: 97px 123px;
  }

  #section-stats {
    background-image: url(../img/stream-sample@2x.png);
    background-size: 179px 498px;
  }

  #section-devices {
    background-image: url(../img/devices@2x.png);
    background-size: 258px 93px;
  }

  #section-matters {
    background-image: url(../img/friends-online@2x.png);
    background-size: 176px 170px;
  }

  #section-community {
    background-image: url(../img/crowd@2x.png);
    background-size: 125px 120px;
  }

  #section-companies {
    background-image: url(../img/files@2x.png);
    background-size: 149px 123px;
  }

  #section-meaning {
    background-image: url(../img/photos-illustration@2x.png);
    background-size: 177px 134px;
  }

}

@media screen and (min-width:31.875em) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  #section-header {
    background-image: url(../img/chart-landscape@2x.png);

    &:before {
      background-image: url(../img/hand-smartphone@2x.png);
    }
  }
}
@text-color: #000;
@tablet-gothic-condensed: "tablet-gothic-semi-condensed", helvetica, arial, sans-serif;
@tablet-gothic: "tablet-gothic", helvetica, arial, sans-serif;

body {
  -webkit-font-smoothing: subpixel-antialiased;
  color: @text-color;
  font-size: 16px;
  font-family: @tablet-gothic-condensed;
}
