@font-face {
  font-family: "HelveticaNeueETW02-45Lt";
  src: url("../fonts/903208/7e44a768-e2b1-4525-9ce2-3bdf2251567e.eot?#iefix");
  src: url("../fonts/903208/7e44a768-e2b1-4525-9ce2-3bdf2251567e.eot?#iefix") format("eot"), url("../fonts/903208/78abe6d7-60ee-4a4c-b5f7-676fcff72e80.woff") format("woff"), url("../fonts/903208/303701d4-af3a-47bc-a704-22e366d2b3af.ttf") format("truetype"), url("../fonts/903208/da4e5d93-0c5b-4300-b52b-2ddb956f353a.svg#da4e5d93-0c5b-4300-b52b-2ddb956f353a") format("svg");
}
@font-face {
  font-family: "HelveticaNeueETW02-55Rg";
  src: url("../fonts/903214/e30c4534-e8af-416e-b7fb-c395323e8424.eot?#iefix");
  src: url("../fonts/903214/e30c4534-e8af-416e-b7fb-c395323e8424.eot?#iefix") format("eot"), url("../fonts/903214/541908c1-6856-4337-b6cb-f57a88784cbe.woff") format("woff"), url("../fonts/903214/354b6f86-00e3-4843-b8d0-9107b4ae0100.ttf") format("truetype"), url("../fonts/903214/2e170156-a84c-48cf-bc19-5c5c4db18b03.svg#2e170156-a84c-48cf-bc19-5c5c4db18b03") format("svg");
}
@font-face {
  font-family: "HelveticaNeueETW02-56It";
  src: url("../fonts/903217/ca06b225-d224-48c2-ab8c-a6eda074d756.eot?#iefix");
  src: url("../fonts/903217/ca06b225-d224-48c2-ab8c-a6eda074d756.eot?#iefix") format("eot"), url("../fonts/903217/11ca5dc2-974e-4412-8869-4f48a57e5a59.woff") format("woff"), url("../fonts/903217/3369d7bb-e954-48d5-b70a-55a19aa2d32c.ttf") format("truetype"), url("../fonts/903217/0f30cb1b-0940-4b65-b27b-fa0428820449.svg#0f30cb1b-0940-4b65-b27b-fa0428820449") format("svg");
}
@font-face {
  font-family: "HelveticaNeueETW02-75Bd";
  src: url("../fonts/903226/e1c22775-19f1-4788-907d-302e5782b5d3.eot?#iefix");
  src: url("../fonts/903226/e1c22775-19f1-4788-907d-302e5782b5d3.eot?#iefix") format("eot"), url("../fonts/903226/74e6e2e1-e281-4b18-8319-dd0e21f3dad3.woff") format("woff"), url("../fonts/903226/484e3cbf-aa5e-4e0f-b623-c94d37c19bdb.ttf") format("truetype"), url("../fonts/903226/0300804c-d9d8-4cb4-8c92-cbcd9b238244.svg#0300804c-d9d8-4cb4-8c92-cbcd9b238244") format("svg");
}
.type-serif {
  font-size: 14px;
  font-family: "Libre Baskerville", georgia, serif;
  line-height: 18px;
}
.type-sans {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.type-sans em {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-56It", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.type-sans strong {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.retina-sprite {
  background-image: url('../img/icons@2x.png') !important;
  -webkit-background-size: 248px 208px;
  -moz-background-size: 248px 208px;
  background-size: 248px 208px;
}
.pulsing-keyframes 0% {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}
.pulsing-keyframes 6% {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.pulsing-keyframes 10% {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.pulsing-keyframes 12% {
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -o-transform: scale(1.025);
}
.pulsing-keyframes 14% {
  -webkit-transform: scale(0.985);
  -moz-transform: scale(0.985);
  -o-transform: scale(0.985);
}
.pulsing-keyframes 15%,
.pulsing-keyframes 100% {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
  6% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  12% {
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -o-transform: scale(1.025);
  }
  14% {
    -webkit-transform: scale(0.985);
    -moz-transform: scale(0.985);
    -o-transform: scale(0.985);
  }
  15%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}
@-moz-keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
  6% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  12% {
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -o-transform: scale(1.025);
  }
  14% {
    -webkit-transform: scale(0.985);
    -moz-transform: scale(0.985);
    -o-transform: scale(0.985);
  }
  15%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}
@keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
  6% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  12% {
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -o-transform: scale(1.025);
  }
  14% {
    -webkit-transform: scale(0.985);
    -moz-transform: scale(0.985);
    -o-transform: scale(0.985);
  }
  15%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}
/* glue: 0.3 hash: ad1cdd8409 */
.sprite-supported-devices,
.sprite-lightbulb,
.sprite-arrow-right,
.sprite-arrow-left,
.sprite-shopping-bag,
.sprite-book,
.sprite-graduation,
.sprite-explosion,
.sprite-map-pin,
.sprite-friends,
.sprite-friends-orange,
.sprite-binoculars,
.sprite-photo-gallery,
.sprite-calendar,
.sprite-cards,
.sprite-megaphone,
.sprite-elephant,
.sprite-forbidden,
.sprite-number-one,
.sprite-meter,
.sprite-factory,
.sprite-smiley-face,
.sprite-quotes,
.sprite-lightning,
.sprite-heart,
.sprite-question-mark,
.sprite-speech-bubble,
.sprite-arrow-up,
.sprite-arrow-down {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
}
.sprite-supported-devices {
  background-position: -1px -1px;
  width: 60px;
  height: 71px;
}
.sprite-lightbulb {
  background-position: -63px -1px;
  width: 30px;
  height: 65px;
}
.sprite-arrow-right {
  background-position: -95px -1px;
  width: 23px;
  height: 55px;
}
.sprite-arrow-left {
  background-position: -120px -1px;
  width: 23px;
  height: 55px;
}
.sprite-shopping-bag {
  background-position: -1px -74px;
  width: 30px;
  height: 45px;
}
.sprite-book {
  background-position: -33px -74px;
  width: 30px;
  height: 45px;
}
.sprite-graduation {
  background-position: -64px -74px;
  width: 39px;
  height: 21px;
}
.sprite-explosion {
  background-position: -145px -1px;
  width: 38px;
  height: 38px;
}
.sprite-map-pin {
  background-position: -145px -41px;
  width: 23px;
  height: 36px;
}
.sprite-friends {
  background-position: -145px -79px;
  width: 36px;
  height: 26px;
}
.sprite-friends-orange {
  background-position: -1px -121px;
  width: 36px;
  height: 25px;
}
.sprite-binoculars {
  background-position: -39px -121px;
  width: 36px;
  height: 24px;
}
.sprite-photo-gallery {
  background-position: -1px -148px;
  width: 35px;
  height: 27px;
}
.sprite-calendar {
  background-position: -185px -1px;
  width: 30px;
  height: 34px;
}
.sprite-cards {
  background-position: -1px -177px;
  width: 33px;
  height: 30px;
}
.sprite-megaphone {
  background-position: -38px -148px;
  width: 33px;
  height: 27px;
}
.sprite-elephant {
  background-position: -36px -177px;
  width: 32px;
  height: 27px;
}
.sprite-forbidden {
  background-position: -216px -1px;
  width: 32px;
  height: 32px;
}
.sprite-number-one {
  background-position: -216px -35px;
  width: 31px;
  height: 31px;
}
.sprite-meter {
  background-position: -216px -67px;
  width: 31px;
  height: 25px;
}
.sprite-factory {
  background-position: -216px -94px;
  width: 31px;
  height: 28px;
}
.sprite-smiley-face {
  background-position: -216px -124px;
  width: 30px;
  height: 30px;
}
.sprite-quotes {
  background-position: -216px -156px;
  width: 30px;
  height: 22px;
}
.sprite-lightning {
  background-position: -185px -37px;
  width: 15px;
  height: 29px;
}
.sprite-heart {
  background-position: -216px -179px;
  width: 28px;
  height: 26px;
}
.sprite-question-mark {
  background-position: -185px -68px;
  width: 26px;
  height: 26px;
}
.sprite-speech-bubble {
  background-position: -185px -96px;
  width: 25px;
  height: 23px;
}
.sprite-arrow-up {
  background-position: -201px -37px;
  width: 13px;
  height: 6px;
}
.sprite-arrow-down {
  background-position: -201px -45px;
  width: 13px;
  height: 6px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2) {
  .sprite-supported-devices,
  .sprite-lightbulb,
  .sprite-arrow-right,
  .sprite-arrow-left,
  .sprite-shopping-bag,
  .sprite-book,
  .sprite-graduation,
  .sprite-explosion,
  .sprite-map-pin,
  .sprite-friends,
  .sprite-friends-orange,
  .sprite-binoculars,
  .sprite-photo-gallery,
  .sprite-calendar,
  .sprite-cards,
  .sprite-megaphone,
  .sprite-elephant,
  .sprite-forbidden,
  .sprite-number-one,
  .sprite-meter,
  .sprite-factory,
  .sprite-smiley-face,
  .sprite-quotes,
  .sprite-lightning,
  .sprite-heart,
  .sprite-question-mark,
  .sprite-speech-bubble,
  .sprite-arrow-up,
  .sprite-arrow-down {
    background-image: url('../img/icons@2x.png');
    -webkit-background-size: 248px 208px;
    -moz-background-size: 248px 208px;
    background-size: 248px 208px;
  }
}
/* ==========================================================================
   Main Styles (Mobile first!)
   ========================================================================== */
body {
  -webkit-font-smoothing: subpixel-antialiased;
  color: #333333;
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
}
strong {
  font-weight: normal;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
}
strong.level-span {
  color: #0099f0;
}
.content-wrapper {
  margin: 10px 0;
  overflow: hidden;
}
.content-wrapper .left-column,
.content-wrapper .right-column {
  margin-bottom: 32px;
}
.content-wrapper .left-column {
  background: url(../img/border-top.png) top left repeat-x;
  padding-top: 2px;
  margin: 0 8px 32px;
}
.content-wrapper .page-header {
  background: url(../img/rocketship-little-alt.png) bottom right no-repeat;
  background-size: 91px 302px;
  min-height: 190px;
  padding: 0 8px;
}
.content-wrapper .page-header h1 {
  font-family: "HelveticaNeueETW02-45Lt", helvetica, arial, sans-sarif;
  font-weight: 300;
  font-size: 23px;
  color: #000000;
  line-height: 24px;
  margin: 0 0 12px;
  padding-top: 12px;
  padding-right: 40px;
  letter-spacing: -2px;
}
.content-wrapper .page-header h1 .site-name {
  color: #0099f0;
}
.content-wrapper .page-header h1 .site-name strong {
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
}
.content-wrapper .page-header h1 .the-rest {
  display: block;
}
.content-wrapper .page-header p {
  padding-right: 110px;
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  color: #ff5600;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 1em;
}
.content-wrapper .page-header p strong {
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
}
.content-wrapper .video-wrapper {
  border-top: 1px dashed #ff5600;
  padding: 12px 0 0;
}
.content-wrapper .social-wrapper:before,
.content-wrapper .social-wrapper:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.content-wrapper .social-wrapper:after {
  clear: both;
}
.content-wrapper .social-wrapper .social-buttons {
  margin: 8px auto 0;
  padding-left: 10px;
  width: 300px;
}
.content-wrapper .social-wrapper .social-buttons .social-button {
  width: 100px;
  float: left;
  margin-bottom: 20px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item {
  padding: 12px 6px;
  border-bottom: 1px dashed #ff5600;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item header {
  position: relative;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  font-size: 13px;
  line-height: 16px;
  color: #ff5600;
  display: block;
  padding-right: 32px;
  letter-spacing: -1px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item header:after {
  content: " ";
  position: absolute;
  top: 5px;
  right: 8px;
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -201px -45px;
  width: 13px;
  height: 6px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item header:hover {
  cursor: pointer;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item.active header:after {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -201px -37px;
  width: 13px;
  height: 6px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item.active .content,
.content-wrapper .fundraiser-qa .fundraiser-qa-item.active .pull-quote {
  display: block;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .content {
  display: none;
  margin: 16px 0;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .content p {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  line-height: 18px;
  margin-top: 16px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .content p em {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-56It", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .content p strong {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .content p:first-child {
  margin-top: 0;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote {
  display: none;
  margin: 0 0 24px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote .author-photo {
  float: right;
  width: 70px;
  height: 70px;
  border-radius: 55px;
  margin: 0 0 0 10px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote p,
.content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote .author {
  font: 18px/20px "Libre Baskerville", georgia, serif;
  color: #0099f0;
  margin-left: 8px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote p {
  text-indent: -8px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote .author {
  font-style: italic;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote .author .author-info:before {
  content: " / ";
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whats-thinkup .sample-insights {
  position: relative;
  background: url(../img/insight-examples@0.5x.jpg) top left no-repeat;
  background-size: 320px 233px;
  width: 320px;
  height: 233px;
  left: -10px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  line-height: 18px;
  margin-bottom: 24px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li:before,
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li:after {
  clear: both;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li em {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-56It", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li strong {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li:before {
  margin-top: 2px;
  content: "";
  float: left;
  height: 40px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.fans:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -38px -148px;
  width: 33px;
  height: 27px;
  margin-right: 10px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.reaction:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -145px -1px;
  width: 38px;
  height: 38px;
  margin-right: 5px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.comparison:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -1px -148px;
  width: 35px;
  height: 27px;
  margin-right: 8px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.time-machine:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -185px -1px;
  width: 30px;
  height: 34px;
  margin-right: 13px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.user-reminder:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -145px -79px;
  width: 36px;
  height: 26px;
  margin-right: 7px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.standout:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -39px -121px;
  width: 36px;
  height: 24px;
  margin-right: 7px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.nearby:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -145px -41px;
  width: 23px;
  height: 36px;
  margin-right: 13px;
  margin-left: 7px;
  margin-top: 0;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.liked-link:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -36px -177px;
  width: 32px;
  height: 27px;
  margin-right: 11px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.company:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -216px -94px;
  width: 31px;
  height: 28px;
  margin-right: 12px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.happy:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -216px -124px;
  width: 30px;
  height: 30px;
  margin-right: 13px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.quotes:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -216px -156px;
  width: 30px;
  height: 22px;
  margin-right: 13px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.self-centered:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -216px -35px;
  width: 31px;
  height: 31px;
  margin-right: 12px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.getting-better:before {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -64px -74px;
  width: 39px;
  height: 21px;
  margin-right: 4px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-not-thinkup header a em {
  font-style: normal;
  color: #000000;
  text-decoration: underline;
  text-transform: uppercase;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-not-thinkup .content ul {
  margin: 0;
  padding: 0 0 0 16px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-not-thinkup .content ul li {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  line-height: 18px;
  margin-bottom: 5px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-not-thinkup .content ul li em {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-56It", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-not-thinkup .content ul li strong {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-goal .content ul,
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-what-i-get .content ul {
  margin: 0;
  padding: 0 0 0 16px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-goal .content ul li,
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-what-i-get .content ul li {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  line-height: 18px;
  margin-bottom: 5px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-goal .content ul li em,
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-what-i-get .content ul li em {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-56It", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-goal .content ul li strong,
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-what-i-get .content ul li strong {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-goal .content ul li a,
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-what-i-get .content ul li a {
  color: #0099f0;
  text-decoration: none;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-goal .content ul li a:hover,
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-what-i-get .content ul li a:hover {
  text-decoration: underline;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whos-behind-thinkup .content .headshots {
  width: 300px;
  float: right;
  margin: 0 0 16px 0;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whos-behind-thinkup .content .headshots img {
  width: 140px;
  border-radius: 70px;
  display: inline-block;
  margin-left: 20px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whos-behind-thinkup .content .headshots img:first-child {
  margin: 0;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whos-behind-thinkup .content p a {
  color: #0099f0;
  text-decoration: none;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whos-behind-thinkup .content p a:hover {
  text-decoration: underline;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq h3 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item {
  margin-top: 20px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item:first-child {
  margin-top: 0;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item .faq-question {
  font: 14px/20px "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  color: #0099f0;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item .faq-question:hover {
  cursor: pointer;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item .faq-answer {
  display: none;
  font: 14px/20px "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  margin-top: 16px;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item .faq-answer a {
  color: #0099f0;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item .faq-answer a:hover {
  text-decoration: none;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item .faq-answer ul {
  padding-left: 20px;
  list-style: disc;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item .faq-answer ul li {
  margin-top: 1em;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item .faq-answer ul li:first-child {
  margin-top: 0;
}
.content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content .faq .faq-item.active .faq-answer {
  display: block;
}
.content-wrapper .call-to-action {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0 16px;
}
.content-wrapper .call-to-action header {
  font: 20px/22px "HelveticaNeueETW02-45Lt", helvetica, arial, sans-sarif;
  font-weight: 300;
  letter-spacing: -2px;
  color: #000000;
}
.content-wrapper .call-to-action header .number {
  color: #ff5600;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
}
.content-wrapper .call-to-action .pledge-goals {
  font-size: 12px;
  line-height: 16px;
  margin: 16px 0;
  padding-right: 112px;
}
.content-wrapper .call-to-action .pledge-goals br {
  display: none;
}
.content-wrapper .call-to-action .pledge-now {
  position: absolute;
  overflow: hidden;
  width: 144px;
  height: 144px;
  right: -32px;
  bottom: -36px;
  border-radius: 75px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 40px 30px 0;
  color: #fff;
  font: 20px/22px "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  background-color: #0099f0;
  -webkit-animation: pulsing 5s 1.5s infinite;
  -moz-animation: pulsing 5s 1.5s infinite;
  animation: pulsing 5s 1.5s infinite;
}
.content-wrapper .call-to-action .pledge-now:before {
  content: " ";
  position: absolute;
  top: 88px;
  left: 63px;
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -185px -37px;
  width: 15px;
  height: 29px;
}
.content-wrapper .funding-levels {
  margin: 0 8px;
}
.content-wrapper .funding-levels .funding-levels-header {
  font: 13px/16px "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  color: #000000;
  margin-bottom: 20px;
  width: 174px;
  padding: 0 8px;
}
.content-wrapper .funding-levels .level {
  border-top: 1px dashed #0099f0;
}
.content-wrapper .funding-levels .level a {
  display: block;
  padding: 12px 6px;
  color: #333333;
  background: #fffef6;
  text-decoration: none;
}
.content-wrapper .funding-levels .level a:hover {
  background: #e6f5fe;
}
.content-wrapper .funding-levels .level a header {
  font: 13px/20px "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  margin-bottom: 20px;
}
.content-wrapper .funding-levels .level a header:before,
.content-wrapper .funding-levels .level a header:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.content-wrapper .funding-levels .level a header:after {
  clear: both;
}
.content-wrapper .funding-levels .level a header .level-name {
  float: left;
  width: 50%;
}
.content-wrapper .funding-levels .level a header .level-name h5 {
  color: #0099f0;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  font-size: 16px;
  margin: 0;
  font-weight: 300;
}
.content-wrapper .funding-levels .level a header .level-cost {
  float: right;
  width: 50%;
  color: #ff5600;
  text-align: right;
}
.content-wrapper .funding-levels .level a header .level-cost .monthly {
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
}
.content-wrapper .funding-levels .level a .level-description p {
  font: 14px/20px "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  margin-bottom: 10px;
}
.content-wrapper .funding-levels .level a .level-description .level-benefits {
  padding-left: 18px;
}
.content-wrapper .funding-levels .level a .level-description .level-benefits li {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  line-height: 18px;
  margin: 0 0 5px;
}
.content-wrapper .funding-levels .level a .level-description .level-benefits li em {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-56It", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .funding-levels .level a .level-description .level-benefits li strong {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .funding-levels .level a .level-description .level-benefits li.book-offer {
  position: relative;
  padding-left: 40px;
}
.content-wrapper .funding-levels .level a .level-description .level-benefits li.book-offer strong {
  font-size: 11px;
  text-transform: uppercase;
}
.content-wrapper .funding-levels .level a .level-description .level-benefits li.book-offer:before {
  position: absolute;
  content: " ";
  float: left;
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: -33px -74px;
  width: 30px;
  height: 45px;
  top: 4px;
  left: 0;
}
.content-wrapper .funding-levels .level:nth-child(2n+1) a {
  background: #fef9ce;
}
.content-wrapper .funding-levels .level:nth-child(2n+1) a:hover {
  background: #e6f5fe;
}
.content-wrapper .funding-levels .level.sold-out a {
  background: #fffef6;
}
.content-wrapper .funding-levels .level.sold-out a:hover {
  background: #fffef6;
}
.content-wrapper .funding-levels .level.sold-out a header {
  margin-bottom: 0;
}
.content-wrapper .funding-levels .level.sold-out a header {
  opacity: 0.5;
}
.content-wrapper .funding-levels .level.sold-out a header .level-cost .monthly {
  text-transform: uppercase;
}
.content-wrapper .funding-levels .level.sold-out a .level-description {
  display: none;
}
.content-wrapper .sidebar-callout {
  padding: 12px 16px;
}
.content-wrapper .sidebar-callout h5 {
  color: #0099f0;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  font-size: 16px;
  margin: 0;
  font-weight: 300;
}
.content-wrapper .sidebar-callout p {
  margin: 0;
  font-size: 13px;
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .sidebar-callout p em {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-56It", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .sidebar-callout p strong {
  font-size: 13px;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  line-height: 18px;
}
.content-wrapper .sidebar-callout p a {
  color: #0099f0;
  text-decoration: none;
}
.content-wrapper .sidebar-callout p a:hover {
  text-decoration: underline;
}
.content-wrapper .newsletter-signup-wrapper header {
  padding-bottom: 16px;
}
.content-wrapper .newsletter-signup-wrapper .content:before,
.content-wrapper .newsletter-signup-wrapper .content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.content-wrapper .newsletter-signup-wrapper .content:after {
  clear: both;
}
.content-wrapper .newsletter-signup-wrapper .content .email {
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  float: left;
  -webkit-appearance: none;
  width: 200px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #d8d8d8;
  padding: 6px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  height: 30px;
  color: #333333;
}
.content-wrapper .newsletter-signup-wrapper .content .button {
  float: right;
  width: 80px;
  display: inline-block;
  background: #0099f0;
  color: #fff;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  border: 0;
  font-size: 12px;
  height: 30px;
  vertical-align: top;
  padding: 0;
}
.content-wrapper .works-with h6 {
  color: #0099f0;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  font-weight: 300;
}
.content-wrapper .works-with ul {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  padding: 0 0 0 18px;
}
.content-wrapper .insights-callout .photos {
  margin: 8px 0;
}
.content-wrapper .insights-callout .photos:before,
.content-wrapper .insights-callout .photos:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.content-wrapper .insights-callout .photos:after {
  clear: both;
}
.content-wrapper .insights-callout .photos img {
  float: left;
  width: 60px;
  margin-left: 16px;
  border-radius: 30px;
}
.content-wrapper .insights-callout .photos img:first-child {
  margin: 0;
}
.attribution {
  margin: 0 8px 16px;
  padding: 0 8px;
  color: #ccc;
  font: 11px/15px "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
}
.attribution a {
  color: #ccc;
}
.page-footer {
  margin: 0 8px 32px;
  background: url(../img/border-top.png) top left repeat-x;
  padding: 16px 8px 0;
  font: 11px/15px "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
}
.page-footer:before,
.page-footer:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.page-footer:after {
  clear: both;
}
.page-footer .copyright-privacy,
.page-footer .motto {
  float: left;
  width: 50%;
}
.page-footer .privacy {
  display: block;
  color: #0099f0;
  text-decoration: none;
}
.page-footer .motto {
  text-align: right;
}
.page-footer .follow-wrapper {
  clear: both;
  text-align: center;
  margin-top: 40px;
}
.page-footer .follow-wrapper .follow-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}
.page-footer .follow-wrapper .follow-links li {
  display: inline-block;
  margin: 0 20px;
}
.page-footer .follow-wrapper .follow-links li a {
  color: #999;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
}
.page-footer .follow-wrapper .follow-links li a:hover {
  color: #0099f0;
}
body.pledge .content-wrapper .page-header {
  margin-bottom: 40px;
  background: none;
  min-height: 0;
}
body.pledge .content-wrapper .page-header h1 {
  font-size: 34px;
  line-height: 33px;
}
body.pledge .content-wrapper .funding-levels {
  margin: 0;
}
body.pledge .content-wrapper .funding-levels .funding-levels-header {
  width: 100%;
  text-align: center;
  padding: 0;
}
body.pledge .content-wrapper .funding-levels .funding-levels-header a {
  color: #fff;
  text-decoration: none;
  background: #0099f0;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  border-radius: 3px;
  margin-top: 8px;
  padding: 3px 5px;
  display: inline-block;
}
body.pledge .content-wrapper .funding-levels .funding-levels-header a:hover {
  background: #0089d7;
}
body.pledge .content-wrapper .funding-levels .funding-levels-header .payment-details {
  color: #ff5600;
  font: 16px/20px "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
}
body.pledge .content-wrapper .funding-levels .funding-levels-header .payment-faq {
  list-style: none;
  padding-left: 0;
  color: #aaa;
  font-size: 10px;
  line-height: 14px;
}
body.pledge .content-wrapper .funding-levels .level a {
  padding: 49px 10px 31px;
  position: relative;
}
body.pledge .content-wrapper .funding-levels .level a:before {
  content: "Pledge at this level";
  position: absolute;
  width: 100%;
  top: 8px;
  left: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #fff;
  font: 14px/16px "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  padding: 8px 0;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  background-color: #0099f0;
}
body.pledge .content-wrapper .funding-levels.level-selected .level a .level-description {
  display: none;
}
body.pledge .content-wrapper .funding-levels.level-selected .level.selected a .level-description {
  display: block;
}
body.pledge .content-wrapper .funding-levels.level-selected .level.selected a:before {
  content: "Pay with Amazon";
}
body.transactional .content-wrapper .page-header {
  margin-bottom: 20px;
  padding: 0;
  background: none;
  min-height: 0;
}
body.transactional .content-wrapper .page-header h1 {
  font-size: 32px;
  line-height: 31px;
}
body.transactional .content-wrapper .page-header h2 {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1px;
  margin: 8px 0 0;
}
body.transactional .content-wrapper .message {
  font-size: 14px;
  line-height: 20px;
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  font-weight: 300;
  background: rgba(51, 51, 51, 0.25);
  color: #333333;
  padding: 8px;
  padding-left: 38px;
  margin-bottom: 20px;
  border-radius: 3px;
}
body.transactional .content-wrapper .message:before,
body.transactional .content-wrapper .message:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
body.transactional .content-wrapper .message:after {
  clear: both;
}
body.transactional .content-wrapper .message .icon {
  font-size: 18px;
  line-height: 20px;
  width: 30px;
  margin-left: -30px;
  float: left;
}
body.transactional .content-wrapper .message a {
  color: #0099f0;
}
body.transactional .content-wrapper .message a:hover {
  text-decoration: none;
}
body.transactional .content-wrapper .message.info {
  background: rgba(0, 153, 240, 0.25);
  color: #0099f0;
}
body.transactional .content-wrapper .message.success {
  background: rgba(0, 196, 48, 0.25);
  color: #00c430;
}
body.transactional .content-wrapper .message.warning {
  background: rgba(245, 17, 17, 0.25);
  color: #f51111;
}
body.transactional .content-wrapper .button {
  display: inline-block;
  background: #0099f0;
  color: #fff;
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  padding: 0 5px;
  text-decoration: none;
}
body.transactional .content-wrapper .button:hover {
  background: #0089d7;
  cursor: pointer;
}
body.transactional .content-wrapper .form-wrapper header {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
body.transactional .content-wrapper .form-wrapper fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
body.transactional .content-wrapper .form-wrapper label {
  font-size: 16px;
  line-height: 40px;
}
body.transactional .content-wrapper .form-wrapper .input-text {
  font-family: "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
  font-size: 16px;
  line-height: 20px;
  padding: 9px;
  color: #333333;
  border: 1px solid #999999;
}
body.new-user .content-wrapper .form-wrapper .credentials {
  border: 0;
  padding: 0;
  margin: 0;
}
body.new-user .content-wrapper .form-wrapper .credentials .field-group {
  margin-bottom: 20px;
}
body.new-user .content-wrapper .form-wrapper .credentials .field-group .input-text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 300px;
}
body.new-user .content-wrapper .form-wrapper .buttons:before,
body.new-user .content-wrapper .form-wrapper .buttons:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
body.new-user .content-wrapper .form-wrapper .buttons:after {
  clear: both;
}
body.new-user .content-wrapper .form-wrapper .buttons .button {
  float: left;
  width: 140px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 16px;
  height: 40px;
}
body.new-user .content-wrapper .form-wrapper .buttons .button i {
  display: none;
}
body.new-user .content-wrapper .form-wrapper .buttons .button:first-child {
  margin-left: 0;
}
body.email-confirmation .content-wrapper .spread-the-word header {
  font-family: "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 18px;
}
body.email-confirmation .content-wrapper .spread-the-word .buttons:before,
body.email-confirmation .content-wrapper .spread-the-word .buttons:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
body.email-confirmation .content-wrapper .spread-the-word .buttons:after {
  clear: both;
}
body.email-confirmation .content-wrapper .spread-the-word .buttons .button {
  display: block;
  width: 280px;
  padding: 0 10px;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  margin-bottom: 20px;
}
body.email-confirmation .content-wrapper .spread-the-word .buttons .button i {
  display: inline-block;
  width: 30px;
}
body.email-confirmation .content-wrapper .spread-the-word .buttons .button.twitter {
  background: #00aced;
}
body.email-confirmation .content-wrapper .spread-the-word .buttons .button.facebook {
  background: #3b5998;
}
body.email-confirmation .content-wrapper .spread-the-word .buttons .button.google-plus {
  background: #dd4b39;
}
body.email-confirmation .content-wrapper .spread-the-word .buttons .button.youtube {
  background: #bb0000;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 400px) {
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whos-behind-thinkup .content .headshots {
    float: none;
    margin: 0 auto 16px;
  }
}
@media only screen and (min-width: 400px) {
  .content-wrapper .page-header h1 {
    font-size: 28px;
    line-height: 29px;
  }
}
@media only screen and (min-width: 640px) {
  .content-wrapper {
    width: 960px;
    margin: 16px auto 0;
    padding: 0 20px;
    overflow: visible;
  }
  .content-wrapper:before,
  .content-wrapper:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .content-wrapper:after {
    clear: both;
  }
  .content-wrapper .right-column,
  .content-wrapper .left-column {
    background: url(../img/border-top.png) top left repeat-x;
    padding: 2px 0 0;
    margin-left: 0;
    margin-right: 0;
  }
  .content-wrapper .left-column {
    float: left;
    width: 660px;
  }
  .content-wrapper .right-column {
    float: right;
    width: 300px;
    background-position: 4px 0;
  }
  .content-wrapper .page-header {
    background: url(../img/rocketship-big.png) 8px 0 no-repeat;
    background-size: 138px 265px;
    min-height: 210px;
    border-top: 0;
    border-bottom: 1px dashed #ff5600;
    margin: 0 0 22px 0;
  }
  .content-wrapper .page-header h1 {
    font-size: 40px;
    line-height: 42px;
    height: 126px;
    padding: 8px 0 45px 85px;
    margin: 0;
  }
  .content-wrapper .page-header p {
    width: 400px;
    font-size: 14px;
    line-height: 17px;
    padding-left: 160px;
    margin: 0 0 12px;
    height: 85px;
  }
  .content-wrapper .video-wrapper,
  .content-wrapper .fundraiser-qa,
  .content-wrapper .social-wrapper {
    padding-right: 9px;
    border-right: 1px dashed rgba(255, 86, 0, 0.3);
    margin-right: 10px;
    border-top: 0;
    margin-left: 0;
  }
  .content-wrapper .video-wrapper {
    padding-top: 8px;
    margin-top: -8px;
    padding-bottom: 20px;
  }
  .content-wrapper .social-wrapper {
    margin-top: 0;
    padding: 0;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item {
    padding: 0 60px 30px 0;
    border-bottom: 0;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item header {
    position: relative;
    font: 17px/20px "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
    color: #ff5600;
    display: block;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item header:after {
    display: none;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item header:hover {
    cursor: auto;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .content {
    display: block;
    position: relative;
    margin: 20px 0 0;
    padding-left: 80px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 22px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .content p {
    font-size: 14px;
    line-height: 20px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote {
    display: block;
    padding-left: 80px;
    margin: 30px 0 0;
    position: relative;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote:before {
    content: "";
    position: absolute;
    top: 0;
    left: 22px;
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    background-position: -185px -96px;
    width: 25px;
    height: 23px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote .author-photo {
    width: 110px;
    height: 110px;
    margin-left: 65px;
    border: 1px solid #d8d8d8;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote .author {
    padding-left: 100px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote .author .author-info {
    display: block;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote .author .author-info:before {
    display: none;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whats-thinkup .content {
    position: relative;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whats-thinkup .content:before {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    background-position: -63px -1px;
    width: 30px;
    height: 65px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whats-thinkup .content .sample-insights {
    background: url(../img/insight-examples.jpg) top left no-repeat;
    background-size: 640px 467px;
    width: 640px;
    height: 467px;
    left: -80px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-what-i-get .content:before {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    background-position: -1px -74px;
    width: 30px;
    height: 45px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content:before {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    background-position: -1px -177px;
    width: 33px;
    height: 30px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content p {
    margin-bottom: 24px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples:before,
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples:after {
    clear: both;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li {
    width: 240px;
    margin-left: 20px;
    float: left;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.fans:before {
    margin-bottom: 8px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.time-machine:before {
    margin-bottom: 2px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.quotes:before {
    margin-bottom: 14px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li.self-centered:before {
    margin-bottom: 5px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li:nth-child(2n+1) {
    clear: left;
    margin-left: 0;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-not-thinkup header a em {
    font-style: normal;
    color: #333333;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-not-thinkup .content:before {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    background-position: -216px -1px;
    width: 32px;
    height: 32px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-goal .content:before {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    background-position: -216px -67px;
    width: 31px;
    height: 25px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whos-behind-thinkup .content:before {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    background-position: -1px -121px;
    width: 36px;
    height: 25px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whos-behind-thinkup .content .headshots {
    width: 140px;
    margin: 0 0 0 20px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whos-behind-thinkup .content .headshots img,
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whos-behind-thinkup .content .headshots img:first-child {
    display: block;
    margin: 0 0 16px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-faq .content:before {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    background-position: -185px -68px;
    width: 26px;
    height: 26px;
  }
  .content-wrapper .call-to-action {
    border-bottom: 1px dashed #ff5600;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 0 12px;
    margin: 0;
  }
  .content-wrapper .call-to-action header {
    font: 30px/28px "HelveticaNeueETW02-45Lt", helvetica, arial, sans-sarif;
    font-weight: 300;
    padding-top: 13px;
  }
  .content-wrapper .call-to-action .pledge-goals {
    font-size: 14px;
    line-height: 17px;
    padding-right: 0;
    margin: 16px 0 0;
  }
  .content-wrapper .call-to-action .pledge-goals .current-status {
    display: block;
    margin-bottom: 60px;
  }
  .content-wrapper .call-to-action .pledge-goals br {
    display: block;
  }
  .content-wrapper .call-to-action .pledge-now {
    width: 160px;
    height: 160px;
    bottom: -75px;
    right: -40px;
    border-radius: 80px;
    padding: 44px 30px 0;
    font-size: 24px;
    line-height: 26px;
  }
  .content-wrapper .call-to-action .pledge-now:before {
    top: 104px;
    left: 73px;
  }
  .content-wrapper .funding-levels {
    margin: 0;
  }
  .content-wrapper .funding-levels .funding-levels-header {
    font: 14px/18px "HelveticaNeueETW02-55Rg", helvetica, arial, sans-sarif;
    margin: 15px 0 18px 0;
    width: 160px;
    padding: 0;
  }
  .content-wrapper .funding-levels .funding-levels-header .wide-line-one {
    display: block;
  }
  .content-wrapper .sidebar-callout {
    padding: 12px 6px;
  }
  .attribution {
    width: 960px;
    margin: 0 auto 32px;
    text-align: center;
  }
  .page-footer {
    padding: 16px 0;
    width: 960px;
    margin: 0 auto 8px;
  }
  .page-footer .copyright-privacy,
  .page-footer .motto {
    width: 20%;
  }
  .page-footer .motto {
    float: right;
  }
  .page-footer .follow-wrapper {
    clear: none;
    width: 60%;
    padding-left: 20%;
    margin: 0;
  }
  body.pledge .content-wrapper {
    width: 620px;
  }
  body.pledge .content-wrapper .left-column {
    width: 620px;
  }
  body.pledge .content-wrapper .page-header {
    border: 0;
    min-height: 0;
    margin-bottom: 0;
    padding: 0;
  }
  body.pledge .content-wrapper .page-header h1 {
    height: auto;
    padding: 12px 0 24px;
    font-size: 48px;
    line-height: 46px;
  }
  body.pledge .content-wrapper .funding-levels .funding-levels-header {
    margin-left: 0;
    text-align: left;
  }
  body.pledge .content-wrapper .funding-levels .funding-levels-header:before,
  body.pledge .content-wrapper .funding-levels .funding-levels-header:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  body.pledge .content-wrapper .funding-levels .funding-levels-header:after {
    clear: both;
  }
  body.pledge .content-wrapper .funding-levels .funding-levels-header .payment-details,
  body.pledge .content-wrapper .funding-levels .funding-levels-header .payment-faq {
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  body.pledge .content-wrapper .funding-levels .funding-levels-header .payment-details {
    width: 400px;
    padding-left: 8px;
    padding-right: 80px;
  }
  body.pledge .content-wrapper .funding-levels .funding-levels-header .payment-faq {
    list-style: disc;
    width: 220px;
    padding-left: 30px;
    margin: 0;
    font-size: 11px;
  }
  body.pledge .content-wrapper .funding-levels .level a {
    position: relative;
    padding: 32px 160px 32px 80px;
  }
  body.pledge .content-wrapper .funding-levels .level a .level-description .level-benefits {
    margin-bottom: 0;
  }
  body.pledge .content-wrapper .funding-levels .level a:before {
    content: "Pledge at this level now";
    position: absolute;
    width: 120px;
    height: 120px;
    right: 15px;
    top: 8px;
    left: auto;
    border-radius: 75px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 33px 16px 0;
    color: #fff;
    font: 14px/18px "HelveticaNeueETW02-75Bd", helvetica, arial, sans-sarif;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    background-color: #0099f0;
  }
  body.pledge .content-wrapper .funding-levels.level-selected .level a {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  body.pledge .content-wrapper .funding-levels.level-selected .level.selected a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  body.pledge .content-wrapper .funding-levels.level-selected .level.selected a:before {
    content: "Pay with Amazon";
    font-size: 18px;
    line-height: 20px;
    padding-top: 37px;
  }
  body.pledge .content-wrapper .funding-levels.level-selected .level.selected a:hover {
    background-color: #fffef6;
  }
  body.pledge .content-wrapper .funding-levels.level-selected .level.selected a:hover:before {
    background: #0089d7;
  }
  body.pledge .content-wrapper .funding-levels.level-selected .level.selected#level-pro a:hover {
    background-color: #fef9ce;
  }
  body.pledge .page-footer {
    width: 620px;
    padding-left: 0;
    padding-right: 0;
  }
  body.transactional .content-wrapper {
    width: 620px;
  }
  body.transactional .content-wrapper .left-column {
    width: 620px;
  }
  body.transactional .content-wrapper .page-header {
    border: 0;
  }
  body.transactional .content-wrapper .page-header h1 {
    height: auto;
    padding: 12px 0 0;
    font-size: 48px;
    line-height: 46px;
  }
  body.transactional .content-wrapper .page-header h2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
  }
  body.transactional .page-footer {
    width: 620px;
    padding-left: 0;
    padding-right: 0;
  }
  body.new-user .content-wrapper .form-wrapper .credentials .field-group {
    margin-bottom: 20px;
  }
  body.new-user .content-wrapper .form-wrapper .credentials .field-group:before,
  body.new-user .content-wrapper .form-wrapper .credentials .field-group:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  body.new-user .content-wrapper .form-wrapper .credentials .field-group:after {
    clear: both;
  }
  body.new-user .content-wrapper .form-wrapper .credentials .field-group label {
    float: left;
    width: 140px;
    margin-right: 20px;
  }
  body.new-user .content-wrapper .form-wrapper .credentials .field-group .input-text {
    width: 460px;
  }
  body.new-user .content-wrapper .form-wrapper .buttons {
    padding-left: 160px;
  }
  body.new-user .content-wrapper .form-wrapper .buttons .button {
    font-size: 16px;
    width: 220px;
    text-align: left;
    padding: 0 10px;
  }
  body.new-user .content-wrapper .form-wrapper .buttons .button i {
    display: inline;
    padding-right: 5px;
  }
  body.email-confirmation .content-wrapper .spread-the-word .buttons .button {
    float: left;
    margin-left: 20px;
  }
  body.email-confirmation .content-wrapper .spread-the-word .buttons .button:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .content-wrapper .fundraiser-qa .fundraiser-qa-item header:after {
    background-image: url('../img/icons@2x.png') !important;
    -webkit-background-size: 248px 208px;
    -moz-background-size: 248px 208px;
    background-size: 248px 208px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item.active header:after {
    background-image: url('../img/icons@2x.png') !important;
    -webkit-background-size: 248px 208px;
    -moz-background-size: 248px 208px;
    background-size: 248px 208px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-insights .content .insight-examples li:before {
    background-image: url('../img/icons@2x.png') !important;
    -webkit-background-size: 248px 208px;
    -moz-background-size: 248px 208px;
    background-size: 248px 208px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whats-thinkup .sample-insights {
    background-image: url(../img/insight-examples.jpg);
    background-size: 320px 233px;
    width: 320px;
    height: 233px;
  }
  .content-wrapper .call-to-action .pledge-now:before {
    background-image: url('../img/icons@2x.png') !important;
    -webkit-background-size: 248px 208px;
    -moz-background-size: 248px 208px;
    background-size: 248px 208px;
  }
  .content-wrapper .funding-levels .level a .level-description .level-benefits li.book-offer:before {
    background-image: url('../img/icons@2x.png') !important;
    -webkit-background-size: 248px 208px;
    -moz-background-size: 248px 208px;
    background-size: 248px 208px;
  }
  .page-footer {
    background-image: url(../img/border-top@2x.png);
    background-size: 7px 2px;
  }
}
@media screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .content:before {
    background-image: url('../img/icons@2x.png') !important;
    -webkit-background-size: 248px 208px;
    -moz-background-size: 248px 208px;
    background-size: 248px 208px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item .pull-quote:before {
    background-image: url('../img/icons@2x.png') !important;
    -webkit-background-size: 248px 208px;
    -moz-background-size: 248px 208px;
    background-size: 248px 208px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whats-thinkup .content:before {
    background-image: url('../img/icons@2x.png') !important;
    -webkit-background-size: 248px 208px;
    -moz-background-size: 248px 208px;
    background-size: 248px 208px;
  }
  .content-wrapper .fundraiser-qa .fundraiser-qa-item#qa-item-whats-thinkup .content .sample-insights {
    background-image: url(../img/insight-examples@2x.jpg);
    background-size: 640px 467px;
  }
}
