@import "variables-and-mixins.less";
@import "icons.less";

/* ==========================================================================
   Main Styles (Mobile first!)
   ========================================================================== */

body {
  -webkit-font-smoothing: subpixel-antialiased;
  color: @text-color;
  font-family: @font-sans;
}

strong {
  font-weight: normal;
  font-family: @font-sans-bold;

  &.level-span {
    color: @blue;
  }
}

.content-wrapper {
  margin: 10px 0;
  overflow: hidden;

  .left-column, .right-column {
    margin-bottom: 32px;
  }

  .left-column {
    background: url(../img/border-top.png) top left repeat-x;
    padding-top: 2px;
    margin: 0 8px 32px;
  }

  .page-header {
    // Using the doubled size by default (similar file sizes)
    background: url(../img/rocketship-little-alt.png) bottom right no-repeat;
    background-size: 91px 302px;
    min-height: 190px;
    padding: 0 8px;

    h1 {
      font-family: @font-sans-light;
      font-weight: 300;
      font-size: 23px;
      color: @headline-color;
      line-height: 24px;
      margin: 0 0 12px;
      padding-top: 12px;
      padding-right: 40px;
      letter-spacing: -2px;

      .site-name {
        color: @blue;

        strong {
          font-family: @font-sans-bold;
        }
      }

      .the-rest {
        display: block;
      }
    }

    p {
      padding-right: 110px;
      font-family: @font-sans;
      color: @orange;
      font-size: 14px;
      line-height: 16px;
      margin: 0 0 1em;

      strong {
        font-family: @font-sans-bold;
      }
    }
  }

  .video-wrapper {
    border-top: 1px dashed @orange;
    padding: 12px 0 0;
  }

  .social-wrapper {
    .clearfix;
    .social-buttons {
      margin: 8px auto 0;
      padding-left: 10px;
      width: 300px;

      .social-button {
        width: 100px;
        float: left;
        margin-bottom: 20px;
      }
    }
  }

  .fundraiser-qa {

    .fundraiser-qa-item {
      padding: 12px 6px;
      border-bottom: 1px dashed @orange;

      header {
        position: relative;
        font-family: @font-sans-bold;
        font-size: @font-size;
        line-height: 16px;
        color: @orange;
        display: block;
        padding-right: 32px;
        letter-spacing: -1px;

        &:after {
          content: " ";
          position: absolute;
          top: 5px;
          right: 8px;
          .sprite-arrow-down;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &.active {
        header:after {
          .sprite-arrow-up;
        }

        .content, .pull-quote {
          display: block;
        }
      }

      .content {
        display: none; // Hide on load
        margin: 16px 0;

        p {
          .type-sans;
          margin-top: 16px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      .pull-quote {
        display: none; // Hide on load
        margin: 0 0 24px;

        .author-photo {
          float: right;
          width: 70px;
          height: 70px;
          border-radius: 55px;
          margin: 0 0 0 10px;
        }

        p, .author {
          font: 18px/20px @font-serif; 
          color: @blue;
          margin-left: 8px;
        }

        p {
          text-indent: -8px;
        }

        .author {
          font-style: italic;

          .author-info:before {
            content: " / ";
          }
        }
      }

      // Individual Question Styles
      &#qa-item-whats-thinkup {
        .sample-insights {
          position: relative;
          background: url(../img/insight-examples@0.5x.jpg) top left no-repeat;
          background-size: 320px 233px;
          width: 320px;
          height: 233px;
          left: -10px;
        }
      }

      &#qa-item-insights {
        .content {
          .insight-examples {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              .clearfix;
              .type-sans;
              margin-bottom: 24px;

              &:before {
                margin-top: 2px;
                content: "";
                float: left;
                height: 40px;
              }

              &.fans:before {
                .sprite-megaphone;
                margin-right: 43px - @width;
              }

              &.reaction:before {
                .sprite-explosion;
                margin-right: 43px - @width;
              }

              &.comparison:before {
                .sprite-photo-gallery;
                margin-right: 43px - @width;
              }

              &.time-machine:before {
                .sprite-calendar;
                margin-right: 43px - @width;
              }

              &.user-reminder:before {
                .sprite-friends;
                margin-right: 43px - @width;
              }

              &.standout:before {
                .sprite-binoculars;
                margin-right: 43px - @width;
              }

              &.nearby:before {
                .sprite-map-pin;
                margin-right: 43px - @width - 7px;
                margin-left: 7px;
                margin-top: 0;
              }

              &.liked-link:before {
                .sprite-elephant;
                margin-right: 43px - @width;
              }

              &.company:before {
                .sprite-factory;
                margin-right: 43px - @width;
              }


              &.happy:before {
                .sprite-smiley-face;
                margin-right: 43px - @width;
              }

              &.quotes:before {
                .sprite-quotes;
                margin-right: 43px - @width;
              }

              &.self-centered:before {
                .sprite-number-one;
                margin-right: 43px - @width;
              }

              &.getting-better:before {
                .sprite-graduation;
                margin-right: 43px - @width;
              }

            }
          }

        }
      }


      &#qa-item-not-thinkup {
        header {
          a {
            em {
              font-style: normal;
              color: @headline-color;
              text-decoration: underline;
              text-transform: uppercase;
            }
          }
        }
        .content {
          ul {
            margin: 0;
            padding: 0 0 0 16px;

            li {
              .type-sans;
              margin-bottom: 5px;
            }
          }          
        }
      }

      &#qa-item-goal, &#qa-item-what-i-get {
        .content {
          ul {
            margin: 0;
            padding: 0 0 0 16px;

            li {
              .type-sans;
              margin-bottom: 5px;
            }
          }          
        }
      }

      &#qa-item-faq {
        .content {
          .faq {
            margin: 0;
            padding: 0;
            list-style: none;

            h3 {
              font-size: 14px;
              line-height: 20px;
              margin-bottom: 20px;
              font-family: @font-sans-bold;
            }

            .faq-item {
              margin-top: 20px;

              &:first-child {
                margin-top: 0;
              }

              .faq-question {
                font: 14px/20px @font-sans-bold;
                color: @blue;

                &:hover {
                  cursor: pointer;
                }
              }

              .faq-answer {
                display: none;
                font: 14px/20px @font-sans;
                margin-top: 16px;

                a {
                  color: @blue;

                  &:hover {
                    text-decoration: none;
                  }
                }

                ul {
                  padding-left: 20px;
                  list-style: disc;

                  li {
                    margin-top: 1em;

                    &:first-child {
                      margin-top: 0;
                    }
                  }
                }
              }

              &.active .faq-answer {
                display: block;
              }

            }
          }
        }
      }
    }
  }

  .call-to-action {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 0 16px;

    header {
      font: 20px/22px @font-sans-light;
      font-weight: 300;
      letter-spacing: -2px;
      color: @headline-color;

      .number {
        color: @orange;
        font-family: @font-sans-bold;
      }
    }

    .pledge-goals {
      font-size: 12px;
      line-height: 16px;
      margin: 16px 0;
      padding-right: 112px;
    }

    .pledge-now {
      position: absolute;
      overflow: hidden;
      width: 144px;
      height: 144px;
      right: -32px;
      bottom: -36px;
      border-radius: 75px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 40px 30px 0;
      color: #fff;
      font: 20px/22px @font-sans-bold;
      font-weight: 300;
      text-align: center;
      text-decoration: none;
      background-color: @blue;
      -webkit-animation: pulsing 5s 1.5s infinite;
      -moz-animation: pulsing 5s 1.5s infinite;
      animation: pulsing 5s 1.5s infinite;

      &:before {
        content: " ";
        position: absolute;
        top: 88px;
        left: 63px;
        .sprite-lightning;
      }
    }
  }

  .funding-levels {
    margin: 0 8px;

    .funding-levels-header {
      font: 13px/16px @font-sans;
      color: @headline-color;
      margin-bottom: 20px;
      width: 174px;
      padding: 0 8px;
    }

    .level {
      border-top: 1px dashed @blue;

      &#level-pro a {
        background: @beige;

        &:hover {
          background: mix(@blue, #fff, 10%);
        }
      }

      a {
        display: block;
        padding: 12px 6px;
        color: @text-color;
        background: @light-beige;
        text-decoration: none;

        &:hover {
          background: mix(@blue, #fff, 10%);
        }


        header {
          .clearfix;
          font: 13px/20px @font-sans;
          margin-bottom: 20px;

          .level-name {
            float: left;
            width: 50%;

            h5 {
              color: @blue;
              font-family: @font-sans-bold;
              font-size: 16px;
              margin: 0;
              font-weight: 300;
            }
          }

          .level-cost {
            float: right;
            width: 50%;
            color: @orange;
            text-align: right;

            .annually {
              font-family: @font-sans-bold;
            }
          }
        }

        .level-description {
          p {
            font: 14px/20px @font-sans;
            margin-bottom: 10px;
          }

          .level-benefits {
            padding-left: 18px;
            li {
              .type-sans;
              margin: 0 0 5px;

              &.book-offer {
                position: relative;
                padding-left: 40px;

                strong {
                  font-size: 11px;
                  text-transform: uppercase;
                }

                &:before {
                  position: absolute;
                  content: " ";
                  float: left;
                  .sprite-book;
                  top: 4px;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .newsletter-signup-wrapper {
    padding: 12px 16px;

    p {
      margin: 0;
      .type-sans;
    }

    header {
      padding-bottom: 16px;

      h5 {
        color: @blue;
        font-family: @font-sans-bold;
        font-size: 16px;
        margin: 0;
        font-weight: 300;
      }
    }

    .content {
      .clearfix;

      .email {
        font-family: @font-sans;
        float: left;
        -webkit-appearance: none;
        width: 200px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #d8d8d8;
        padding: 6px;
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        height: 30px;
        color: @text-color;
      }

      .button {
        float: right;
        width: 80px;
        display: inline-block;
        background: @blue;
        color: #fff;
        font-family: @font-sans-bold;
        border: 0;
        font-size: 12px;
        height: 30px;
        vertical-align: top;
        padding: 0;
      }
    }
  }
}

.attribution {
  margin: 0 8px 16px;
  padding: 0 8px;
  color: #ccc;
  font: 11px/15px @font-sans;

  a {
    color: #ccc;
  }
}

.page-footer {
  margin: 0 8px 32px;
  background: url(../img/border-top.png) top left repeat-x;
  padding: 16px 8px 0;
  .clearfix;
  font: 11px/11px @font-sans;

  .copyright, .motto {
    float: left;
    width: 50%;
  }

  .motto {
    text-align: right;
  }

  .follow-wrapper {
    clear: both;
    text-align: center;
    margin-top: 32px;

    .follow-links {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline;

      li {
        display: inline-block;
        margin: 0 20px;

        a {
          color: #999;
          text-decoration: none;
          font-size: 20px;
          line-height: 20px;

          &:hover {
            color: @blue;
          }
        }
      }
    }
  }

}

// Pledge Page styles

body.pledge {
  .content-wrapper {
    .page-header {
      margin-bottom: 40px;
      background: none;
      min-height: 0;

      h1 {
        font-size: 34px;
        line-height: 33px;
      }
    }

    .funding-levels {
      margin: 0;

      .funding-levels-header {
        width: 100%;
        text-align: center;
        padding: 0;

        a {
          color: #fff;
          text-decoration: none;
          background: @blue;
          font-family: @font-sans-bold;
          border-radius: 3px;
          margin-top: 8px;
          padding: 3px 5px;
          display: inline-block;

          &:hover {
            background: darken(@blue, 5%);
          }
        }

        .payment-details {
          color: @orange;
          font: 16px/20px @font-sans;
        }

        .payment-faq {
          list-style: none;
          padding-left: 0;
          color: #aaa;
          font-size: 10px;
          line-height: 14px;
        }
      }

      .level {
        a {
          padding: 49px 10px 31px;
          position: relative;

          &:before {
            content: "Pledge at this level";
            position: absolute;
            width: 100%;
            top: 8px;
            left: 0;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            color: #fff;
            font: 14px/16px @font-sans-bold;
            padding: 8px 0;
            font-weight: 300;
            text-align: center;
            text-decoration: none;
            background-color: @blue;
          }
        }
      }

      &.level-selected {
        .level {
          a {
            .level-description {
              display: none;
            }            
          }
        }

        .level.selected {
          a {
            .level-description {
              display: block;
            }

            &:before {
              content: "Pay with Amazon";
            }         
          }
        }
      }

    }
  }
}

// Transactional Pages

body.transactional {
  .content-wrapper {
    .page-header {
      margin-bottom: 20px;
      padding: 0;
      background: none;
      min-height: 0;

      h1 {
        font-size: 32px;
        line-height: 31px;
      }

      h2 {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -1px;
        margin: 8px 0 0;
      }
    }

    .message {
      .clearfix;
      font-size: 14px;
      line-height: 20px;
      font-family: @font-sans-bold;
      font-weight: 300;
      background: fade(@text-color, 25%);
      color: @text-color;
      padding: 8px;
      padding-left: 38px;
      margin-bottom: 20px;
      border-radius: 3px;

      .icon {
        font-size: 18px;
        line-height: 20px;
        width: 30px;
        margin-left: -30px;
        float: left;
      }

      &.info {
        background: fade(@blue, 25%);
        color: @blue;
      }

      &.success {
        background: fade(@green, 25%);
        color: @green;
      }

      &.warning {
        background: fade(@red, 25%);
        color: @red;
      }
    }

    .button {
      display: inline-block;
      background: @blue;
      color: #fff;
      font-family: @font-sans;
      border: 0;
      border-radius: 3px;
      font-size: 16px;
      line-height: 24px;
      height: 24px;
      padding: 0 5px;
      text-decoration: none;

      &:hover {
        background: darken(@blue, 5%);
        cursor: pointer;
      }
    }

    .form-wrapper {
      header {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
      }

      fieldset {
        border: 0;
        padding: 0;
        margin: 0;
      }

      label {
        font-size: 16px;
        line-height: 40px;
      }

      .input-text {
        font-family: @font-sans;
        font-size: 16px;
        line-height: 20px;
        padding: 9px;
        color: @text-color;
        border: 1px solid mix(@text-color, #fff, 50%);
      }
    }
  }
}

body.new-user {
  .content-wrapper {
    .form-wrapper {
      .credentials {
        border: 0;
        padding: 0;
        margin: 0;

        .field-group {
          margin-bottom: 20px;

          .input-text {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 300px;
          }
        }
      }

      .buttons {
        .clearfix;

        .button {
          float: left;
          width: 140px;
          margin-left: 20px;
          font-size: 14px;
          line-height: 16px;
          height: 40px;

          i {
            display: none;
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

body.email-confirmation {
  .content-wrapper {
    .spread-the-word {
      header {
        font-family: @font-sans-bold;
        font-weight: 300;
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 18px;
      }

      .buttons {
        .clearfix;

        .button {
          display: block;
          width: 280px;
          padding: 0 10px;
          font-size: 20px;
          line-height: 40px;
          height: 40px;
          margin-bottom: 20px;

          i {
            display: inline-block;
            width: 30px;
          }

          &.twitter {
            background: #00aced;
          }

          &.facebook {
            background: #3b5998;
          }

          &.google-plus {
            background: #dd4b39;
          }

          &.youtube {
            background: #bb0000;
          }
        }
      }
    }
  }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 400px) {
  .content-wrapper {
    .page-header {
      h1 {
        font-size: 28px;
        line-height: 29px;
      }
    }
  }
}

@media only screen and (min-width: 640px) {

  .content-wrapper {
    width: 960px;
    margin: 16px auto 0;
    padding: 0 20px;
    .clearfix;
    overflow: visible;

    .right-column, .left-column {
      background: url(../img/border-top.png) top left repeat-x;
      padding: 2px 0 0;
      margin-left: 0;
      margin-right: 0;
    }

    .left-column {
      float: left;
      width: 660px;
    }

    .right-column {
      float: right;
      width: 300px;
      background-position: 4px 0;
    }

    .page-header {
      background: url(../img/rocketship-big.png) 8px 0 no-repeat;
      background-size: 138px 265px;
      min-height: 210px;
      border-top: 0;
      border-bottom: 1px dashed @orange;
      margin: 0 0 22px 0;

      h1 {
        font-size: 40px;
        line-height: 42px;
        height: 126px;
        padding: 8px 0 45px 85px;
        margin: 0;
      }

      p {
        width: 400px;
        font-size: 14px;
        line-height: 17px;
        padding-left: 160px;
        margin: 0 0 12px;
        height: 85px;
      }
    }

    .video-wrapper, .fundraiser-qa, .social-wrapper {
      padding-right: 9px;
      border-right: 1px dashed fade(@orange, 30%);
      margin-right: 10px;
      border-top: 0;
      margin-left: 0;
    }

    .video-wrapper {
      padding-top: 0;
      padding-bottom: 20px;
    }

    .social-wrapper {
      margin-top: 0;
      padding: 0;
    }

    .fundraiser-qa {

      .fundraiser-qa-item {
        padding: 0 60px 30px 0;
        border-bottom: 0;

        header {
          position: relative;
          font: 17px/20px @font-sans-bold;
          color: @orange;
          display: block;

          &:after {
            display: none;
          }

          &:hover {
            cursor: auto;
          }
        }

        .content {
          display: block;
          position: relative;
          margin: 20px 0 0;
          padding-left: 80px;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 22px;
          }


          p {
            font-size: 14px;
            line-height: 20px;
          }
        }

        .pull-quote {
          display: block;
          padding-left: 80px;
          margin: 30px 0 0;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 22px;
            .sprite-speech-bubble;
          }

          .author-photo {
            width: 110px;
            height: 110px;
            margin-left: 65px;
            border: 1px solid #d8d8d8;
          }

          .author {
            padding-left: 100px;

            .author-info {
              display: block;

              &:before {
                display: none;
              }
            }
          }
        }

        // Individual Question Styles
        &#qa-item-whats-thinkup {
          .content {
            position: relative;

            &:before {
              .sprite-lightbulb;
            }

            .sample-insights {
              width: 640px;
              height: 467px;
              left: -80px;
            }

          }
        }

        &#qa-item-what-i-get {
          .content {
            &:before {
              .sprite-shopping-bag;
            }
          }
        }

        &#qa-item-insights {
          .content {
            &:before {
              .sprite-cards;
            }

            p {
              margin-bottom: 24px;
            }

            .insight-examples {
              .clearfix;

              li {
                width: 240px;
                margin-left: 20px;
                float: left;

                &.fans:before {
                  margin-bottom: 8px;
                }

                &.time-machine:before {
                  margin-bottom: 2px;
                }

                &.quotes:before {
                  margin-bottom: 14px;
                }

                &.self-centered:before {
                  margin-bottom: 5px;
                }

                &:nth-child(2n+1) {
                  clear: left;
                  margin-left: 0;
                }
              }
            }

          }
        }

        &#qa-item-not-thinkup {
          header {
            a {
              em {
                font-style: normal;
                color: @text-color;
                text-decoration: underline;
                text-transform: uppercase;
              }
            }
          }
          .content {
            &:before {
              .sprite-forbidden;
            }
          }
        }

        &#qa-item-goal {
          .content {
            &:before {
              .sprite-meter;
            }
          }
        }

        &#qa-item-whos-behind-thinkup {
          .content {
            &:before {
              .sprite-friends-orange;
            }
          }
        }

        &#qa-item-faq {
          .content {
            &:before {
              .sprite-question-mark;
            }
          }
        }

      }    
    }

    .call-to-action {
      height: 277px;
      border-bottom: 1px dashed @orange;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 0 0 12px;
      margin: 0;

      header {
        font: 30px/28px @font-sans-light;
        font-weight: 300;
        padding-top: 13px;
      }

      .pledge-goals {
        font-size: 14px;
        line-height: 18px;
        margin-top: 18px;
        padding-right: 0;
      }

      .pledge-now {
        width: 160px;
        height: 160px;
        bottom: -68px;
        right: -15px;
        border-radius: 80px;
        padding: 44px 30px 0;
        font-size: 24px;
        line-height: 26px;

        &:before {
          top: 104px;
          left: 73px;
        }

        &:hover {
        }
      }

    }

    .funding-levels {
      margin: 0;

      .funding-levels-header {
        font: 14px/18px @font-sans;
        margin: 15px 0 18px 8px;
        width: 160px;
        padding: 0;

        .wide-line-one {
          display: block;
        }
      }
    }

    .newsletter-signup-wrapper {
      padding: 12px 6px;
    }

  }

  .attribution {
    width: 960px;
    margin: 0 auto 32px;
    text-align: center;
  }

  .page-footer {
    padding: 16px 0;
    width: 960px;
    margin: 0 auto 8px;

    .copyright, .motto {
      width: 20%;
    }

    .motto {
      float: right;
    }

    .follow-wrapper {
      clear: none;
      width: 60%;
      padding-left: 20%;
      margin: 0;
    }
  }

  body.pledge {
    .content-wrapper {
      width: 620px;

      .left-column {
        width: 620px;
      }

      .page-header {
        border: 0;
        min-height: 0;
        margin-bottom: 0;
        padding: 0;

        h1 {
          height: auto;
          padding: 12px 0 24px;
          font-size: 48px;
          line-height: 46px;
        }
      }

      .funding-levels {
        .funding-levels-header {
          margin-left: 0;
          .clearfix;
          text-align: left;

          .payment-details, .payment-faq {
            float: left;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
          }

          .payment-details {
            width: 400px;
            padding-left: 8px;
            padding-right: 80px;
          }

          .payment-faq {
            list-style: disc;
            width: 220px;
            padding-left: 30px;
            margin: 0;
            font-size: 11px;
          }
        }
        .level {
          a {
            position: relative;
            padding: 32px 160px 32px 80px;

            .level-description {
              .level-benefits {
                margin-bottom: 0;
              }
            }

            &:before {
              content: "Pledge at this level now";
              position: absolute;
              width: 120px;
              height: 120px;
              right: 15px;
              top: 8px;
              left: auto;
              border-radius: 75px;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              padding: 33px 16px 0;
              color: #fff;
              font: 14px/18px @font-sans-bold;
              font-weight: 300;
              text-align: center;
              text-decoration: none;
              background-color: @blue;
            }
          }
        }

        &.level-selected {
          .level {
            a {
                padding-top: 40px;
                padding-bottom: 40px;
            }

            &.selected {
              a {
                padding-top: 32px;
                padding-bottom: 32px;

                &:before {
                  content: "Pay with Amazon";
                  font-size: 18px;
                  line-height: 20px;
                  padding-top: 37px;
                }

                &:hover {
                  background-color: @light-beige;

                  &:before {
                    background: darken(@blue, 5%);
                  }
                }
              }

              &#level-pro {
                a:hover {
                  background-color: @beige;
                }
              }
            }
          }
        }
      }
    }

    .page-footer {
      width: 620px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  body.transactional {
    .content-wrapper {
      width: 620px;

      .left-column {
        width: 620px;
      }

      .page-header {
        border: 0;

        h1 {
          height: auto;
          padding: 12px 0 0;
          font-size: 48px;
          line-height: 46px;
        }

        h2 {
          font-size: 24px;
          line-height: 28px;
          letter-spacing: -1px;
        }
      }
    }

    .page-footer {
      width: 620px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  body.new-user {
    .content-wrapper {
      .form-wrapper {
        .credentials {
          .field-group {
            .clearfix;
            margin-bottom: 20px;

            label {
              float: left;
              width: 140px;
              margin-right: 20px;
            }

            .input-text {
              width: 460px;
            }
          }
        }

        .buttons {
          padding-left: 160px;

          .button {
            font-size: 16px;
            width: 220px;
            text-align: left;
            padding: 0 10px;

            i {
              display: inline;
              padding-right: 5px;
            }
          }
        }
      }
    }
  }

  body.email-confirmation {
    .content-wrapper {
      .spread-the-word {
        .buttons {
          .button {
            float: left;
            margin-left: 20px;

            &:nth-child(2n+1) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .content-wrapper {
    .fundraiser-qa {
      .fundraiser-qa-item {
        &#qa-item-whats-thinkup {
          .sample-insights {
            background-image: url(../img/insight-examples.jpg);
            background-size: 320px 233px;
            width: 320px;
            height: 233px;
          }            
        }
      }
    }
  }
  .page-footer {
    background-image: url(../img/border-top@2x.png);
    background-size: 7px 2px;
  }
}

@media screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .content-wrapper {
    .fundraiser-qa {
      .fundraiser-qa-item {
        &#qa-item-whats-thinkup {
          .content {
            .sample-insights {
              background-image: url(../img/insight-examples@2x.jpg);
              background-size: 640px 467px;
            }            
          }
        }
      }
    }
  }
}
