@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('../fonts/altehaasgroteskregular-webfont.eot');
    src: url('../fonts/altehaasgroteskregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/altehaasgroteskregular-webfont.woff2') format('woff2'),
         url('../fonts/altehaasgroteskregular-webfont.woff') format('woff'),
         url('../fonts/altehaasgroteskregular-webfont.ttf') format('truetype'),
         url('../fonts/altehaasgroteskregular-webfont.svg#alte_haas_groteskregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Alte Haas Grotesk Bold';
    src: url('../fonts/altehaasgroteskbold-webfont.eot');
    src: url('../fonts/altehaasgroteskbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/altehaasgroteskbold-webfont.woff2') format('woff2'),
         url('../fonts/altehaasgroteskbold-webfont.woff') format('woff'),
         url('../fonts/altehaasgroteskbold-webfont.ttf') format('truetype'),
         url('../fonts/altehaasgroteskbold-webfont.svg#alte_haas_groteskbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Peaches and Cream';
    src: url('../fonts/fenotype_-_peachesandcreamregular-webfont.eot');
    src: url('../fonts/fenotype_-_peachesandcreamregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fenotype_-_peachesandcreamregular-webfont.woff2') format('woff2'),
         url('../fonts/fenotype_-_peachesandcreamregular-webfont.woff') format('woff'),
         url('../fonts/fenotype_-_peachesandcreamregular-webfont.ttf') format('truetype'),
         url('../fonts/fenotype_-_peachesandcreamregular-webfont.svg#peaches_and_cream_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'DIN Bold';
    src: url('../fonts/din-bold-webfont-webfont.eot');
    src: url('../fonts/din-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-bold-webfont-webfont.woff2') format('woff2'),
         url('../fonts/din-bold-webfont-webfont.woff') format('woff'),
         url('../fonts/din-bold-webfont-webfont.ttf') format('truetype'),
         url('../fonts/din-bold-webfont-webfont.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'DIN Black';
    src: url('../fonts/din-black-webfont-webfont.eot');
    src: url('../fonts/din-black-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-black-webfont-webfont.woff2') format('woff2'),
         url('../fonts/din-black-webfont-webfont.woff') format('woff'),
         url('../fonts/din-black-webfont-webfont.ttf') format('truetype'),
         url('../fonts/din-black-webfont-webfont.svg#din_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'DIN';
    src: url('../fonts/din-regular-webfont-webfont.eot');
    src: url('../fonts/din-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-regular-webfont-webfont.woff2') format('woff2'),
         url('../fonts/din-regular-webfont-webfont.woff') format('woff'),
         url('../fonts/din-regular-webfont-webfont.ttf') format('truetype'),
         url('../fonts/din-regular-webfont-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}